<%- include('./partials/head') %>
   <!-- End of Header -->
   <!-- Wrapper -->
   <div class="flex grow flex-col pt-[--tw-header-height] lg:pt-0">
    <!-- Sidebar -->
    <%- include('./partials/navbar') %>
   
    <!-- End of Sidebar -->
    <!-- Main -->
    <main class="scrollable-y-auto [scrollbar-width:auto] [--tw-scrollbar-thumb-color:var(--tw-content-scrollbar-color)] flex flex-col grow items-stretch rounded-xl bg-[--tw-content-bg] dark:bg-[--tw-content-bg-dark] border border-gray-300 dark:border-gray-200 lg:ms-[--tw-sidebar-width] pt-5 mt-0 lg:mt-[15px] m-[15px]" data-scrollable="true" data-scrollable-height="false|lg:auto" data-scrollable-offset="40px" role="content">
     <!-- Toolbar -->
     <div class="pb-5">
      <!-- Container -->
      <%- include('./partials/content_header') %>
    
      <!-- End of Container -->
     </div>
     <div class="container-fixed">
      <!-- begin: grid -->
      <div class="container-fixed h-full">
      <div class="grid grid-cols-10 gap-5 lg:gap-7.5 h-full">
       <div class="col-span-4  h-full">
        <div class="flex flex-col gap-5 lg:gap-7.5 h-full">
          <div class="card card-grid min-w-full h-full">
            <div class="card-header py-5 flex-wrap">
              <h3 class="card-title">
                23 Messages
              </h3>
              <div class="flex gap-6">
               <div class="relative">
                  <button class="btn btn-sm btn-outline btn-danger"  data-modal-toggle="#delete_confirmation">
                    <i class="ki-duotone ki-trash">
                    </i>
                    Supprimer la sélection
                   </button>
               </div>
    
              </div>
             </div>
            <div class="card-body w-full">
             <div class="flex flex-col items-end justify-between h-full">
              <div class="scrollable-x-auto w-full">
               <table class="table table-auto table-border" data-datatable-table="true">
                <thead>
                 <tr>
                  <th class="w-[60px] text-center">
                   <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox"/>
                  </th>
                  <th class="min-w-[250px] w-full">
                   <span class="sort asc">
                    <span class="sort-label text-gray-700 font-normal">
                     Memberss
                    </span>
                    <span class="sort-icon">
                    </span>
                   </span>
                  </th>
                 
                 </tr>
                </thead>
                <tbody>
                
                  <tr >
                    <td class="text-center">
                     <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="31"/>
                    </td>
                    <td class="cursor-pointer hover:bg-[#eeeeef]">
                     <div class="flex items-center justify-between gap-2.5">
                      <div class="flex items-center gap-2.5">
                       <div class="inline-flex items-center border-success justify-center w-10 h-10 text-lg text-white font-semibold bg-orange-500 rounded-full">
                         JD
                     </div>
     
                      <div class="flex flex-col gap-0.5">
                       <span class="leading-none font-medium text-sm text-gray-900" href="#">
                        John Doe
                       </span>
                       <span class="text-2sm text-gray-700 font-normal">
                        johndoe@gmail.com
                       </span>
                      </div>
                      </div>
                      
                     </div>
                    </td>
                   </tr>
                   <tr >
                    <td class="text-center">
                     <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="31"/>
                    </td>
                    <td class="cursor-pointer hover:bg-[#eeeeef]">
                     <div class="flex items-center justify-between gap-2.5">
                      <div class="flex items-center gap-2.5">
                       <div class="inline-flex items-center border-success justify-center w-10 h-10 text-lg text-white font-semibold bg-orange-500 rounded-full">
                         MG
                     </div>
     
                      <div class="flex flex-col gap-0.5">
                       <span class="leading-none font-medium text-sm text-gray-900" href="#">
                        John Doe
                       </span>
                       <span class="text-2sm text-gray-700 font-normal">
                        johndoe@gmail.com
                       </span>
                      </div>
                      </div>
                      
                     </div>
                    </td>
                   </tr>
     
                   <tr >
                    <td class="text-center">
                     <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="31"/>
                    </td>
                    <td class="cursor-pointer hover:bg-[#eeeeef]">
                     <div class="flex items-center justify-between gap-2.5">
                      <div class="flex items-center gap-2.5">
                       <div class="inline-flex items-center border-success justify-center w-10 h-10 text-lg text-white font-semibold bg-indigo-500 rounded-full">
                         KL
                     </div>
     
                      <div class="flex flex-col gap-0.5">
                       <span class="leading-none font-medium text-sm text-gray-900" href="#">
                        John Doe
                       </span>
                       <span class="text-2sm text-gray-700 font-normal">
                        johndoe@gmail.com
                       </span>
                      </div>
                      </div>
                      
                     </div>
                    </td>
                   </tr>
     
                   <tr >
                    <td class="text-center">
                     <input class="checkbox checkbox-sm" data-datatable-row-check="true" type="checkbox" value="31"/>
                    </td>
                    <td class="cursor-pointer hover:bg-[#eeeeef]">
                     <div class="flex items-center justify-between gap-2.5">
                      <div class="flex items-center gap-2.5">
                       <div class="inline-flex items-center border-success justify-center w-10 h-10 text-lg text-white font-semibold bg-green-500 rounded-full">
                         AH
                     </div>
     
                      <div class="flex flex-col gap-0.5">
                       <span class="leading-none font-medium text-sm text-gray-900" href="#">
                        John Doe
                       </span>
                       <span class="text-2sm text-gray-700 font-normal">
                        johndoe@gmail.com
                       </span>
                      </div>
                      </div>
                      
                     </div>
                    </td>
                   </tr>
     
                </tbody>
               </table>
              </div>
              <div class="card-footer w-full justify-center items-end md:justify-between flex-col md:flex-row gap-5 text-gray-600 text-2sm font-medium">
 
                <div class="flex justify-end items-end flex-col md:flex-row text-gray-600 text-2sm font-medium">
                  
                  <div class="flex items-center gap-4 order-1 md:order-2">
                   <span data-datatable-info="true">1-3 of 3</span>
                   <div class="pagination">
                    <button class="btn  active ">
                      <i class="ki-outline ki-black-left rtl:transform rtl:rotate-180"></i>
                    </button>
                    <button class="btn">2</button>
                    <button class="btn">2</button>
                    <button class="btn active disabled" disabled="">3</button>
                    <button class="btn">4</button>
                    <button class="btn">5</button>
                    <button class="btn  active "><i class="ki-outline ki-black-right rtl:transform rtl:rotate-180"></i></button>
                  </div>
                  </div>
                 </div>
              </div>
             </div>
            </div>
           </div>

 
        </div>
       </div>
       <div class="col-span-6">
        <div class="flex flex-col gap-5 lg:gap-7.5 h-full">
         <div class="card min-h-[60vh] h-full">
              <div class="card-body flex flex-col items-center gap-2.5 py-7.5">
               <div class="flex justify-center p-7.5 py-9">
                <img alt="image" class="max-h-[230px]" src="assets/media/illustrations/22.svg">
               </div>
               <div class="flex flex-col gap-5 lg:gap-7.5">
                <div class="flex flex-col gap-3 text-center">
                 <h2 class="text-1.5xl font-semibold text-gray-900">
                 Sélectionnez un message pour voir le contenu
                 </h2>
                 <p class="text-sm text-gray-800">
                  A streamlined process to welcome and integrate new members into the team,
                  <br>
                  ensuring a smooth and efficient start.
                 </p>
                </div>
               </div>
              </div>
             </div>
        </div>
       </div>
      </div>
    </div>
      <!-- end: grid -->
     </div>
     <!-- End of Container -->
     <%- include('./partials/footer') %>
    </main>
    <!-- End of Main -->
   </div>
   <!-- End of Wrapper -->
  </div>
  <!-- End of Base -->

  <div class="modal" data-modal="true" id="delete_confirmation">
    <div class="modal-content modal-center max-w-[600px]">
     <div class="modal-header">
      <h3 class="modal-title">
       Confirmer l'annulation
      </h3>
      <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
       <i class="ki-outline ki-cross">
       </i>
      </button>
     </div>
     <div class="modal-body">
      Modal components are commonly used for various purposes such as displaying login forms, confirming actions, presenting multimedia content.
     </div>
     <div class="modal-footer justify-end">
      <div class="flex gap-4">
       <button class="btn bg-kr-primary text-white" data-modal-dismiss="true">
        Abandonner
       </button>
       <button class="btn bg-kr-secondary text-white" data-modal-toggle="#modal_6_2">
       Poursuivre l'annulation
       </button>
      </div>
     </div>
    </div>
   </div>
  <!-- End of Page -->
  <!-- Scripts -->
  <script src="assets/js/core.bundle.js">
  </script>
  <script src="assets/vendors/apexcharts/apexcharts.min.js">
  </script>
  <script src="assets/js/widgets/general.js">
  </script>
   <script src="/assets/js/app/admin_session.js"></script>
  <!-- End of Scripts -->
 </body>
</html>
