<div class="bg-main-black text-white w-full pt-20 px-[4vw] lg:pt-[12vh]" name="footer">
    <div class="grid grid-cols-4 gap-y-4 gap-x-4">
      <div class="col-span-4 lg:col-span-1">
        <p class="mb-8">
          <a href="#">
          <img src="assets/images/logo-icon-white.svg" alt="Logo" srcset="" class="w-15 lg:w-20" />
          </a>
        </p>
        <p class="mb-3 text-gray-500 lg:max-w-[230px]">
          Votre solution de location et de gestion immobilière à Lomé
        </p>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <h4 class="mb-8 text-xl font-semibold md:text-2xl lg:text-4xl">Navigation</h4>
         <div class="text-xs text-gray-300 md:text-base flex flex-col gap-2">
          <li>
              <a href="#">Actulités et ressources</a>
          </li>
          <li>
             <a href="#">A propos</a>
          </li>
          <li>
            <a href="#">Nous contacter</a>
          </li>
        </div>
       
      </div>
      <div class="col-span-2 lg:col-span-1">
         <h4 class="mb-8 text-xl font-semibold  md:text-2xl lg:text-4xl">Nous contacter</h4>
        
        <div class="text-xs text-gray-300 md:text-base flex flex-col gap-3">
          <li>
           <a href="#">E: contact@cigafi.com</a>
         </p>
         <li>
           <a href="#">T: +228 90991070 | 93794929</a>
         </p>
         <li>
           <a href="#">A: Agoè Assiyéyé, Lomé TOGO</a>
         </li>
        </div> 
      </div>
      <div class="col-span-4 lg:col-span-1">
        <h4 class="mb-8 text-2xl font-semibold md:text-2xl lg:text-4xl"> Nos Réseaux</h4>
        <div class="flex">
          <a href="#" class="mr-3">
            <svg
              width="50"
              height="50"
              viewBox="0 0 50 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="25"
                cy="25"
                r="24.5"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
              />
              <path
                d="M32.6996 15.1016H17.2996C16.0896 15.1016 15.0996 16.0916 15.0996 17.3016V32.7016C15.0996 33.9127 16.0896 34.9016 17.2996 34.9016H24.9996V27.2016H22.7996V24.4791H24.9996V22.2241C24.9996 19.8437 26.3328 18.1717 29.1422 18.1717L31.1255 18.1739V21.0394H29.8088C28.7154 21.0394 28.2996 21.86 28.2996 22.6212V24.4802H31.1244L30.4996 27.2016H28.2996V34.9016H32.6996C33.9096 34.9016 34.8996 33.9127 34.8996 32.7016V17.3016C34.8996 16.0916 33.9096 15.1016 32.6996 15.1016Z"
                fill="#F6F6FF"
                fill-opacity="0.9"
              />
            </svg>
          </a>
          <a href="#" class="mr-3">
            <svg
              width="50"
              height="50"
              viewBox="0 0 50 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M32 16C32.5304 16 33.0391 16.2107 33.4142 16.5858C33.7893 16.9609 34 17.4696 34 18V32C34 32.5304 33.7893 33.0391 33.4142 33.4142C33.0391 33.7893 32.5304 34 32 34H18C17.4696 34 16.9609 33.7893 16.5858 33.4142C16.2107 33.0391 16 32.5304 16 32V18C16 17.4696 16.2107 16.9609 16.5858 16.5858C16.9609 16.2107 17.4696 16 18 16H32ZM31.5 31.5V26.2C31.5 25.3354 31.1565 24.5062 30.5452 23.8948C29.9338 23.2835 29.1046 22.94 28.24 22.94C27.39 22.94 26.4 23.46 25.92 24.24V23.13H23.13V31.5H25.92V26.57C25.92 25.8 26.54 25.17 27.31 25.17C27.6813 25.17 28.0374 25.3175 28.2999 25.5801C28.5625 25.8426 28.71 26.1987 28.71 26.57V31.5H31.5ZM19.88 21.56C20.3256 21.56 20.7529 21.383 21.0679 21.0679C21.383 20.7529 21.56 20.3256 21.56 19.88C21.56 18.95 20.81 18.19 19.88 18.19C19.4318 18.19 19.0019 18.3681 18.685 18.685C18.3681 19.0019 18.19 19.4318 18.19 19.88C18.19 20.81 18.95 21.56 19.88 21.56ZM21.27 31.5V23.13H18.5V31.5H21.27Z"
                fill="#F6F6FF"
                fill-opacity="0.9"
              />
              <circle
                cx="25"
                cy="25"
                r="24.5"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
              />
            </svg>
          </a>
          <a href="#" class="mr-3">
            <svg
              width="50"
              height="50"
              viewBox="0 0 50 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="25"
                cy="25"
                r="24.5"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
              />
              <path
                d="M30 16H20C17.2386 16 15 18.2386 15 21V31C15 33.7614 17.2386 36 20 36H30C32.7614 36 35 33.7614 35 31V21C35 18.2386 32.7614 16 30 16Z"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M30.4997 20.5H30.5097M28.9997 25.37C29.1231 26.2022 28.981 27.0522 28.5935 27.799C28.206 28.5458 27.5929 29.1514 26.8413 29.5297C26.0898 29.9079 25.2382 30.0396 24.4075 29.9059C23.5768 29.7723 22.8095 29.3801 22.2145 28.7852C21.6196 28.1902 21.2274 27.4229 21.0938 26.5922C20.9601 25.7616 21.0918 24.9099 21.47 24.1584C21.8483 23.4069 22.4539 22.7937 23.2007 22.4062C23.9475 22.0187 24.7975 21.8766 25.6297 22C26.4786 22.1259 27.2646 22.5215 27.8714 23.1283C28.4782 23.7351 28.8738 24.5211 28.9997 25.37Z"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
            <a href="#" class="mr-3">
            <svg
              width="50"
              height="50"
              viewBox="0 0 50 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="25"
                cy="25"
                r="24.5"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
              />
              <path
                d="M30 16H20C17.2386 16 15 18.2386 15 21V31C15 33.7614 17.2386 36 20 36H30C32.7614 36 35 33.7614 35 31V21C35 18.2386 32.7614 16 30 16Z"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M30.4997 20.5H30.5097M28.9997 25.37C29.1231 26.2022 28.981 27.0522 28.5935 27.799C28.206 28.5458 27.5929 29.1514 26.8413 29.5297C26.0898 29.9079 25.2382 30.0396 24.4075 29.9059C23.5768 29.7723 22.8095 29.3801 22.2145 28.7852C21.6196 28.1902 21.2274 27.4229 21.0938 26.5922C20.9601 25.7616 21.0918 24.9099 21.47 24.1584C21.8483 23.4069 22.4539 22.7937 23.2007 22.4062C23.9475 22.0187 24.7975 21.8766 25.6297 22C26.4786 22.1259 27.2646 22.5215 27.8714 23.1283C28.4782 23.7351 28.8738 24.5211 28.9997 25.37Z"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
            <a href="#" class="mr-3">
            <svg
              width="50"
              height="50"
              viewBox="0 0 50 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="25"
                cy="25"
                r="24.5"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
              />
              <path
                d="M30 16H20C17.2386 16 15 18.2386 15 21V31C15 33.7614 17.2386 36 20 36H30C32.7614 36 35 33.7614 35 31V21C35 18.2386 32.7614 16 30 16Z"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M30.4997 20.5H30.5097M28.9997 25.37C29.1231 26.2022 28.981 27.0522 28.5935 27.799C28.206 28.5458 27.5929 29.1514 26.8413 29.5297C26.0898 29.9079 25.2382 30.0396 24.4075 29.9059C23.5768 29.7723 22.8095 29.3801 22.2145 28.7852C21.6196 28.1902 21.2274 27.4229 21.0938 26.5922C20.9601 25.7616 21.0918 24.9099 21.47 24.1584C21.8483 23.4069 22.4539 22.7937 23.2007 22.4062C23.9475 22.0187 24.7975 21.8766 25.6297 22C26.4786 22.1259 27.2646 22.5215 27.8714 23.1283C28.4782 23.7351 28.8738 24.5211 28.9997 25.37Z"
                stroke="#F6F6FF"
                stroke-opacity="0.9"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-16 lg:mt-36">
      <div class="grid grid-cols-2 gap-x-8 text-gray-400">
        <div class="col-span-1 text-xs md:text-sm lg:text-base">
          <span>CIGAFI@2024 | Tous droits réservés</span>
        </div>
        <div class="col-span-1 text-xs  justify-self-end md:text-sm lg:text-base">
          <a href="#" class="mr-12">Mentions légales</a>
          <a href="#">Conditions générales</a>
        </div>
      </div>
    </div>
    <div class="mt-16 w-full">
      <img src="assets/images/icons/wordmark.svg" alt="" srcset="" class="w-full">
    </div>
  </div>
  