<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="w-full overflow-x-hidden">
      <%- include('./partials/main_nav_bar') %>
      <div class="px-10 py-6 mt-24">
        <div class="flex justify-between">
          <div>
            <div class="flex gap-6 items-center mb-8">
              <div class="text-3xl font-bold text-black">2 CHAMBRES SALON</div>
              <div class="text-[#FFA200] items-center flex gap-4 pl-6 border-l border-gray-500">
                <span>
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z"
                      stroke="#FFA200"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10.084 7.33203V11.9154H14.6673"
                      stroke="#FFA200"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <span>Publiée le 22 Sep 2024</span>
              </div>
            </div>
            <div class="flex gap-16 text-gray-500">
              <div>
                <span class="font-bold">Avance & caution</span>
                <div class="flex mt-3 items-center gap-3">
                  <span>
                    <svg
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.4375 2.75C13.2048 2.75 12.0876 2.981 11.2145 3.41619C10.3414 3.85137 9.625 4.56019 9.625 5.5V8.25C9.625 8.33869 9.65456 8.42462 9.66831 8.50781C8.98012 8.33309 8.27252 8.24646 7.5625 8.25C6.32981 8.25 5.21262 8.481 4.3395 8.91619C3.46637 9.35138 2.75 10.0602 2.75 11V16.5C2.75 17.4398 3.46706 18.1486 4.34019 18.5838C5.21263 19.019 6.32981 19.25 7.5625 19.25C8.79519 19.25 9.91237 19.019 10.7855 18.5838C11.6572 18.1486 12.375 17.4398 12.375 16.5V16.2209C13.0475 16.4028 13.7408 16.4967 14.4375 16.5C15.6702 16.5 16.7874 16.269 17.6605 15.8338C18.5322 15.3986 19.25 14.6898 19.25 13.75V5.5C19.25 4.56019 18.5329 3.85137 17.6598 3.41619C16.7881 2.981 15.6709 2.75 14.4375 2.75ZM14.4375 4.125C15.4846 4.125 16.4168 4.3505 17.0369 4.66194C17.6571 4.97338 17.875 5.30131 17.875 5.5C17.875 5.69869 17.6578 6.02662 17.0369 6.33806C16.4175 6.6495 15.4846 6.875 14.4375 6.875C13.3904 6.875 12.4582 6.6495 11.8381 6.33806C11.2179 6.02662 11 5.69869 11 5.5C11 5.30131 11.2172 4.97338 11.8381 4.66194C12.4575 4.3505 13.3904 4.125 14.4375 4.125ZM11 7.45525C11.0722 7.49512 11.1396 7.54669 11.2152 7.58381C12.0876 8.019 13.2048 8.25 14.4375 8.25C15.6702 8.25 16.7874 8.019 17.6605 7.58381C17.7354 7.54669 17.8028 7.49512 17.875 7.45525V8.25C17.875 8.44938 17.6578 8.77662 17.0369 9.08806C16.4168 9.3995 15.4846 9.625 14.4375 9.625C13.3904 9.625 12.4582 9.3995 11.8381 9.08806C11.2179 8.77662 11 8.44869 11 8.25V7.45525ZM7.5625 9.625C8.60956 9.625 9.54181 9.8505 10.1619 10.1619C10.7821 10.4734 11 10.8013 11 11C11 11.1987 10.7828 11.5266 10.1619 11.8381C9.54181 12.1495 8.60956 12.375 7.5625 12.375C6.51544 12.375 5.58319 12.1495 4.96306 11.8381C4.34294 11.5266 4.125 11.1987 4.125 11C4.125 10.8013 4.34225 10.4734 4.96306 10.1619C5.5825 9.8505 6.51544 9.625 7.5625 9.625ZM17.875 10.2052V11C17.875 11.1994 17.6578 11.5266 17.0369 11.8381C16.4168 12.1495 15.4846 12.375 14.4375 12.375C13.7372 12.3788 13.0408 12.2699 12.375 12.0526V11C12.375 10.9113 12.3454 10.8254 12.3317 10.7422C12.9711 10.9086 13.6799 11 14.4375 11C15.6702 11 16.7874 10.769 17.6605 10.3338C17.7354 10.2967 17.8028 10.2451 17.875 10.2052ZM4.125 12.9552C4.19719 12.9951 4.26456 13.0467 4.34019 13.0838C5.21263 13.519 6.32981 13.75 7.5625 13.75C8.79519 13.75 9.91237 13.519 10.7855 13.0838C10.8604 13.0467 10.9278 12.9951 11 12.9552V13.75C11 13.9494 10.7828 14.2766 10.1619 14.5881C9.54181 14.8995 8.60956 15.125 7.5625 15.125C6.51544 15.125 5.58319 14.8995 4.96306 14.5881C4.34294 14.2766 4.125 13.9487 4.125 13.75V12.9552ZM17.875 12.9552V13.75C17.875 13.9494 17.6578 14.2766 17.0369 14.5881C16.4168 14.8995 15.4846 15.125 14.4375 15.125C13.6558 15.125 12.9497 15.015 12.375 14.8239V13.4922C13.0061 13.6586 13.6936 13.75 14.4375 13.75C15.6702 13.75 16.7874 13.519 17.6605 13.0838C17.7354 13.0467 17.8028 12.9951 17.875 12.9552ZM4.125 15.7052C4.19719 15.7451 4.26456 15.7967 4.34019 15.8338C5.21263 16.269 6.32981 16.5 7.5625 16.5C8.79519 16.5 9.91237 16.269 10.7855 15.8338C10.8604 15.7967 10.9278 15.7451 11 15.7052V16.5C11 16.6994 10.7828 17.0266 10.1619 17.3381C9.54181 17.6495 8.60956 17.875 7.5625 17.875C6.51544 17.875 5.58319 17.6495 4.96306 17.3381C4.34294 17.0266 4.125 16.6987 4.125 16.5V15.7052Z"
                        fill="#6D7280"
                      />
                    </svg>
                  </span>
                  <span>6 Mois + 4 Mois de caution</span>
                </div>
              </div>
              <div>
                <span class="font-bold">Emplacement</span>
                <div class="flex mt-3 items-center gap-3">
                  <span>
                    <svg
                      width="21"
                      height="21"
                      viewBox="0 0 21 21"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.5006 0C7.06693 0 4.25293 2.8056 4.25293 6.22986C4.25293 7.55664 4.67671 8.78976 5.39386 9.80322L9.73813 17.3134C10.3465 18.1083 10.751 17.9573 11.2568 17.2714L16.0486 9.11715C16.1452 8.94201 16.2212 8.75553 16.2874 8.56506C16.5915 7.82407 16.7478 7.03081 16.7477 6.22986C16.7479 2.8056 13.9348 0 10.5006 0ZM10.5006 2.919C12.3499 2.919 13.8203 4.38606 13.8203 6.22986C13.8203 8.07366 12.3499 9.54009 10.5006 9.54009C8.65159 9.54009 7.18054 8.07387 7.18054 6.22986C7.18054 4.38606 8.65159 2.91921 10.5006 2.91921"
                        fill="#6D7280"
                      />
                    </svg>
                  </span>
                  <span>Kégué non loin de l’échangeur</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="flex gap-8 items-center text-gray-500">
              <a href="#" class="flex flex-row gap-3 items-center">
                <span>
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                    <path
                      d="M22.9934 11.7766C23.4793 11.4961 24.0342 11.3576 24.595 11.3767C25.1557 11.3959 25.6999 11.5718 26.1656 11.8847C26.6313 12.1976 27 12.6348 27.2298 13.1467C27.4595 13.6586 27.5411 14.2246 27.4652 14.7805C27.3894 15.3365 27.1591 15.86 26.8007 16.2916C26.4422 16.7233 25.9699 17.0457 25.4374 17.2224C24.9049 17.3991 24.3334 17.4229 23.7881 17.2911C23.2427 17.1593 22.7452 16.8772 22.3521 16.4768L17.6421 19.1963C17.7156 19.4628 17.7519 19.7308 17.7509 20.0003C17.7509 20.2688 17.7156 20.5396 17.6421 20.8043L22.3521 23.5238C22.8643 23.0045 23.548 22.6894 24.2755 22.6374C25.0031 22.5855 25.7247 22.8002 26.3054 23.2416C26.8861 23.6829 27.2863 24.3206 27.4311 25.0355C27.5759 25.7504 27.4554 26.4936 27.0921 27.1261C26.7277 27.7597 26.1444 28.2384 25.452 28.4724C24.7595 28.7064 24.0054 28.6795 23.3313 28.3968C22.6573 28.1141 22.1096 27.595 21.7912 26.9371C21.4728 26.2792 21.4056 25.5276 21.6021 24.8236L16.8921 22.1033C16.4745 22.5285 15.9399 22.8198 15.3561 22.9401C14.7724 23.0603 14.1661 23.0041 13.6145 22.7785C13.0629 22.553 12.5909 22.1683 12.2587 21.6735C11.9264 21.1788 11.749 20.5963 11.749 20.0003C11.749 19.4044 11.9264 18.8219 12.2587 18.3271C12.5909 17.8323 13.0629 17.4477 13.6145 17.2221C14.1661 16.9965 14.7724 16.9403 15.3561 17.0606C15.9399 17.1808 16.4745 17.4721 16.8921 17.8973L21.6021 15.1778C21.4241 14.5369 21.4642 13.8549 21.716 13.2392C21.9679 12.6236 22.4172 12.109 22.9934 11.7766ZM25.7924 13.6253C25.6946 13.4534 25.5638 13.3024 25.4074 13.1812C25.2511 13.06 25.0723 12.9709 24.8814 12.9191C24.6905 12.8673 24.4912 12.8537 24.295 12.8792C24.0989 12.9047 23.9097 12.9688 23.7384 13.0677C23.5671 13.1666 23.417 13.2984 23.2968 13.4556C23.1767 13.6127 23.0888 13.7921 23.0382 13.9833C22.9876 14.1746 22.9754 14.3739 23.0022 14.5699C23.029 14.7659 23.0943 14.9547 23.1944 15.1253C23.3947 15.467 23.722 15.7156 24.105 15.8169C24.4879 15.9181 24.8954 15.8638 25.2384 15.6657C25.5814 15.4677 25.8322 15.142 25.936 14.7597C26.0398 14.3775 25.9881 13.9697 25.7924 13.6253ZM13.3034 20.3956C13.3642 20.6168 13.4748 20.8211 13.6269 20.9928C13.7789 21.1646 13.9683 21.2993 14.1805 21.3864C14.3926 21.4736 14.622 21.511 14.8509 21.4958C15.0798 21.4806 15.3021 21.4131 15.5009 21.2986C15.7435 21.1583 15.942 20.9529 16.0739 20.7056C16.2057 20.4583 16.2656 20.179 16.2469 19.8993C16.2281 19.6197 16.1313 19.3509 15.9676 19.1235C15.8038 18.896 15.5796 18.719 15.3204 18.6125C15.0611 18.5059 14.7772 18.4742 14.5009 18.5208C14.2245 18.5674 13.9667 18.6905 13.7567 18.8761C13.5468 19.0617 13.393 19.3025 13.3129 19.571C13.2327 19.8396 13.2294 20.1252 13.3034 20.3956ZM25.2434 24.3271C25.0727 24.227 24.8839 24.1617 24.6879 24.1349C24.492 24.1081 24.2926 24.1204 24.1013 24.1709C23.9101 24.2215 23.7307 24.3094 23.5736 24.4295C23.4164 24.5497 23.2846 24.6998 23.1857 24.8711C23.0868 25.0424 23.0228 25.2316 22.9973 25.4278C22.9718 25.6239 22.9853 25.8232 23.0371 26.0141C23.089 26.205 23.1781 26.3838 23.2993 26.5401C23.4205 26.6965 23.5714 26.8273 23.7434 26.9251C24.0877 27.1208 24.4955 27.1725 24.8778 27.0687C25.26 26.9649 25.5857 26.7141 25.7838 26.3711C25.9818 26.0281 26.0362 25.6206 25.9349 25.2377C25.8337 24.8548 25.5851 24.5274 25.2434 24.3271Z"
                      fill="#929393"
                    />
                  </svg>
                </span>
                <span>Partager</span>
              </a>
              <a href="#" class="flex flex-row gap-3 items-center">
                <span>
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                    <path
                      d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                      fill="#929393"
                    />
                  </svg>
                </span>
                <span>Enrégistrer</span>
              </a>
            </div>
            <div class="mt-10">
              <span class="text-black font-bold text-4xl">75000 F CFA</span>
              <span class="text-gray-500 ">/Mois</span>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-4 grid-rows-2 gap-5 my-12">
          <img
            src="/assets/images/16.png"
            class="col-span-2 row-span-2 w-full h-full"
          />
          <img src="/assets/images/17.png" class="col-span-1 row-span-1" />
          <img src="/assets/images/18.png" class="col-span-1 row-span-1" />
          <img src="/assets/images/19.png" class="col-span-1 row-span-1" />
          <div class="col-span-1 row-span-1 relative overflow-hidden rounded-xl">
            <img src="/assets/images/20.png" />
            <div class="absolute top-0 left-0 w-full h-full bg-[#0000008c] flex items-center justify-center">
              <span class="p-5 bg-[#FFA200] text-white rounded-full">+12</span>
            </div>
          </div>
        </div>
      </div>
      <div class="px-10 py-6 mt-12 mb-24">
        <div class="grid grid-cols-4 gap-9 px-40">
          <div class="col-span-3">
            <div class="my-7 border-b pb-10">
              <div class="text-2xl font-bold mb-6">
                Caractéristiques du bien
              </div>
              <div class="grid grid-cols-3 grid-rows-2 gap-10">
                <div class="col-span-1 row-span-1 flex gap-5 items-center">
                  <div class="p-6 rounded-2xl border">
                    <svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.75 22.5V16.25C3.75 15.88 3.85667 15.4858 4.07 15.0675C4.28333 14.6492 4.59333 14.335 5 14.125V11.25C5 10.545 5.24042 9.95208 5.72125 9.47125C6.20208 8.99042 6.795 8.75 7.5 8.75H13.125C13.5558 8.75 13.9238 8.83875 14.2288 9.01625C14.5329 9.19292 14.79 9.4375 15 9.75C15.21 9.4375 15.4671 9.19292 15.7712 9.01625C16.0762 8.83875 16.4442 8.75 16.875 8.75H22.5C23.205 8.75 23.7979 8.99042 24.2788 9.47125C24.7596 9.95208 25 10.545 25 11.25V14.125C25.4075 14.335 25.7175 14.6492 25.93 15.0675C26.1433 15.4858 26.25 15.88 26.25 16.25V22.5H25V20H5V22.5H3.75ZM15.625 13.75H23.75V11.25C23.75 10.8958 23.63 10.5992 23.39 10.36C23.15 10.1208 22.8533 10.0008 22.5 10H16.875C16.5208 10 16.2242 10.12 15.985 10.36C15.7458 10.6 15.6258 10.8967 15.625 11.25V13.75ZM6.25 13.75H14.375V11.25C14.375 10.8958 14.255 10.5992 14.015 10.36C13.775 10.1208 13.4783 10.0008 13.125 10H7.5C7.14583 10 6.84917 10.12 6.61 10.36C6.37083 10.6 6.25083 10.8967 6.25 11.25V13.75Z"
                        fill="#434343"
                      />
                    </svg>
                  </div>
                  <div>
                    <div class="text-gray-500 mb-4">Type de bien</div>
                    <div class="text-xl font-bold">Non meublé</div>
                  </div>
                </div>
                <div class="col-span-1 row-span-1 flex gap-5 items-center">
                  <div class="p-6 rounded-2xl border">
                    <svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.75 22.5V16.25C3.75 15.88 3.85667 15.4858 4.07 15.0675C4.28333 14.6492 4.59333 14.335 5 14.125V11.25C5 10.545 5.24042 9.95208 5.72125 9.47125C6.20208 8.99042 6.795 8.75 7.5 8.75H13.125C13.5558 8.75 13.9238 8.83875 14.2288 9.01625C14.5329 9.19292 14.79 9.4375 15 9.75C15.21 9.4375 15.4671 9.19292 15.7712 9.01625C16.0762 8.83875 16.4442 8.75 16.875 8.75H22.5C23.205 8.75 23.7979 8.99042 24.2788 9.47125C24.7596 9.95208 25 10.545 25 11.25V14.125C25.4075 14.335 25.7175 14.6492 25.93 15.0675C26.1433 15.4858 26.25 15.88 26.25 16.25V22.5H25V20H5V22.5H3.75ZM15.625 13.75H23.75V11.25C23.75 10.8958 23.63 10.5992 23.39 10.36C23.15 10.1208 22.8533 10.0008 22.5 10H16.875C16.5208 10 16.2242 10.12 15.985 10.36C15.7458 10.6 15.6258 10.8967 15.625 11.25V13.75ZM6.25 13.75H14.375V11.25C14.375 10.8958 14.255 10.5992 14.015 10.36C13.775 10.1208 13.4783 10.0008 13.125 10H7.5C7.14583 10 6.84917 10.12 6.61 10.36C6.37083 10.6 6.25083 10.8967 6.25 11.25V13.75Z"
                        fill="#434343"
                      />
                    </svg>
                  </div>
                  <div>
                    <div class="text-gray-500 mb-4">Nbre de chambre</div>
                    <div class="text-xl font-bold">8 Chambre</div>
                  </div>
                </div>
                <div class="col-span-1 row-span-1 flex gap-5 items-center">
                  <div class="p-6 rounded-2xl border">
                    <svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.75 22.5V16.25C3.75 15.88 3.85667 15.4858 4.07 15.0675C4.28333 14.6492 4.59333 14.335 5 14.125V11.25C5 10.545 5.24042 9.95208 5.72125 9.47125C6.20208 8.99042 6.795 8.75 7.5 8.75H13.125C13.5558 8.75 13.9238 8.83875 14.2288 9.01625C14.5329 9.19292 14.79 9.4375 15 9.75C15.21 9.4375 15.4671 9.19292 15.7712 9.01625C16.0762 8.83875 16.4442 8.75 16.875 8.75H22.5C23.205 8.75 23.7979 8.99042 24.2788 9.47125C24.7596 9.95208 25 10.545 25 11.25V14.125C25.4075 14.335 25.7175 14.6492 25.93 15.0675C26.1433 15.4858 26.25 15.88 26.25 16.25V22.5H25V20H5V22.5H3.75ZM15.625 13.75H23.75V11.25C23.75 10.8958 23.63 10.5992 23.39 10.36C23.15 10.1208 22.8533 10.0008 22.5 10H16.875C16.5208 10 16.2242 10.12 15.985 10.36C15.7458 10.6 15.6258 10.8967 15.625 11.25V13.75ZM6.25 13.75H14.375V11.25C14.375 10.8958 14.255 10.5992 14.015 10.36C13.775 10.1208 13.4783 10.0008 13.125 10H7.5C7.14583 10 6.84917 10.12 6.61 10.36C6.37083 10.6 6.25083 10.8967 6.25 11.25V13.75Z"
                        fill="#434343"
                      />
                    </svg>
                  </div>
                  <div>
                    <div class="text-gray-500 mb-4">Salles de bain</div>
                    <div class="text-xl font-bold">2</div>
                  </div>
                </div>
                <div class="col-span-1 row-span-1 flex gap-5 items-center">
                  <div class="p-6 rounded-2xl border">
                    <svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.75 22.5V16.25C3.75 15.88 3.85667 15.4858 4.07 15.0675C4.28333 14.6492 4.59333 14.335 5 14.125V11.25C5 10.545 5.24042 9.95208 5.72125 9.47125C6.20208 8.99042 6.795 8.75 7.5 8.75H13.125C13.5558 8.75 13.9238 8.83875 14.2288 9.01625C14.5329 9.19292 14.79 9.4375 15 9.75C15.21 9.4375 15.4671 9.19292 15.7712 9.01625C16.0762 8.83875 16.4442 8.75 16.875 8.75H22.5C23.205 8.75 23.7979 8.99042 24.2788 9.47125C24.7596 9.95208 25 10.545 25 11.25V14.125C25.4075 14.335 25.7175 14.6492 25.93 15.0675C26.1433 15.4858 26.25 15.88 26.25 16.25V22.5H25V20H5V22.5H3.75ZM15.625 13.75H23.75V11.25C23.75 10.8958 23.63 10.5992 23.39 10.36C23.15 10.1208 22.8533 10.0008 22.5 10H16.875C16.5208 10 16.2242 10.12 15.985 10.36C15.7458 10.6 15.6258 10.8967 15.625 11.25V13.75ZM6.25 13.75H14.375V11.25C14.375 10.8958 14.255 10.5992 14.015 10.36C13.775 10.1208 13.4783 10.0008 13.125 10H7.5C7.14583 10 6.84917 10.12 6.61 10.36C6.37083 10.6 6.25083 10.8967 6.25 11.25V13.75Z"
                        fill="#434343"
                      />
                    </svg>
                  </div>
                  <div>
                    <div class="text-gray-500 mb-4">Garage </div>
                    <div class="text-xl font-bold">Non</div>
                  </div>
                </div>
                <div class="col-span-1 row-span-1 flex gap-5 items-center">
                  <div class="p-6 rounded-2xl border">
                    <svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.75 22.5V16.25C3.75 15.88 3.85667 15.4858 4.07 15.0675C4.28333 14.6492 4.59333 14.335 5 14.125V11.25C5 10.545 5.24042 9.95208 5.72125 9.47125C6.20208 8.99042 6.795 8.75 7.5 8.75H13.125C13.5558 8.75 13.9238 8.83875 14.2288 9.01625C14.5329 9.19292 14.79 9.4375 15 9.75C15.21 9.4375 15.4671 9.19292 15.7712 9.01625C16.0762 8.83875 16.4442 8.75 16.875 8.75H22.5C23.205 8.75 23.7979 8.99042 24.2788 9.47125C24.7596 9.95208 25 10.545 25 11.25V14.125C25.4075 14.335 25.7175 14.6492 25.93 15.0675C26.1433 15.4858 26.25 15.88 26.25 16.25V22.5H25V20H5V22.5H3.75ZM15.625 13.75H23.75V11.25C23.75 10.8958 23.63 10.5992 23.39 10.36C23.15 10.1208 22.8533 10.0008 22.5 10H16.875C16.5208 10 16.2242 10.12 15.985 10.36C15.7458 10.6 15.6258 10.8967 15.625 11.25V13.75ZM6.25 13.75H14.375V11.25C14.375 10.8958 14.255 10.5992 14.015 10.36C13.775 10.1208 13.4783 10.0008 13.125 10H7.5C7.14583 10 6.84917 10.12 6.61 10.36C6.37083 10.6 6.25083 10.8967 6.25 11.25V13.75Z"
                        fill="#434343"
                      />
                    </svg>
                  </div>
                  <div>
                    <div class="text-gray-500 mb-4">Type de bien</div>
                    <div class="text-xl font-bold">Non meublé</div>
                  </div>
                </div>
                <div class="col-span-1 row-span-1 flex gap-5 items-center">
                  <div class="p-6 rounded-2xl border">
                    <svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.75 22.5V16.25C3.75 15.88 3.85667 15.4858 4.07 15.0675C4.28333 14.6492 4.59333 14.335 5 14.125V11.25C5 10.545 5.24042 9.95208 5.72125 9.47125C6.20208 8.99042 6.795 8.75 7.5 8.75H13.125C13.5558 8.75 13.9238 8.83875 14.2288 9.01625C14.5329 9.19292 14.79 9.4375 15 9.75C15.21 9.4375 15.4671 9.19292 15.7712 9.01625C16.0762 8.83875 16.4442 8.75 16.875 8.75H22.5C23.205 8.75 23.7979 8.99042 24.2788 9.47125C24.7596 9.95208 25 10.545 25 11.25V14.125C25.4075 14.335 25.7175 14.6492 25.93 15.0675C26.1433 15.4858 26.25 15.88 26.25 16.25V22.5H25V20H5V22.5H3.75ZM15.625 13.75H23.75V11.25C23.75 10.8958 23.63 10.5992 23.39 10.36C23.15 10.1208 22.8533 10.0008 22.5 10H16.875C16.5208 10 16.2242 10.12 15.985 10.36C15.7458 10.6 15.6258 10.8967 15.625 11.25V13.75ZM6.25 13.75H14.375V11.25C14.375 10.8958 14.255 10.5992 14.015 10.36C13.775 10.1208 13.4783 10.0008 13.125 10H7.5C7.14583 10 6.84917 10.12 6.61 10.36C6.37083 10.6 6.25083 10.8967 6.25 11.25V13.75Z"
                        fill="#434343"
                      />
                    </svg>
                  </div>
                  <div>
                    <div class="text-gray-500 mb-4">Dépendances </div>
                    <div class="text-xl font-bold">Aucun</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-7 border-b py-10">
              <div class="text-2xl font-bold mb-6">Description du bien</div>
              <p class="text-gray-500 leading-[35px]">
                Crafting a virtual presence that stands out in the bustling
                online space requires not only technical skill but a flair for
                the unique feel each brand holds. With a unique view, she crafts
                projects Crafting a virtual presence that stands out in the
                bustling online space requires not only technical skill but a
                flair for the unique feel each brand holds. With a unique view,
                she crafts projects Crafting a virtual presence that stands out
                in the bustling online space requires not only technical skill
                but a flair for the unique feel
              </p>
            </div>
            <div class="my-7 border-b py-10">
              <div class="text-2xl font-bold mb-6">Liste des commoditées</div>
              <div class="grid grid-cols-2 gap-5">
                <div class="grid grid-cols-2 col-span-1 gap-3">
                  <div class="grid grid-rows-4 gap-2 font-bold">
                    <div>PropertyID:</div>
                    <div>PropertyID:</div>
                    <div>PropertyID:</div>
                    <div>PropertyID:</div>
                  </div>
                  <div class="grid grid-rows-4 gap-2 text-gray-500">
                    <div>HWYTIU</div>
                    <div>Oui</div>
                    <div>4 Beds</div>
                    <div>2</div>
                  </div>
                </div>
                <div class="grid grid-cols-2 col-span-1 gap-3">
                  <div class="grid grid-rows-4 gap-2 font-bold">
                    <div>PropertyID:</div>
                    <div>PropertyID:</div>
                    <div>PropertyID:</div>
                    <div>PropertyID:</div>
                  </div>
                  <div class="grid grid-rows-4 gap-2 text-gray-500">
                    <div>Non</div>
                    <div>HWYTIU</div>
                    <div>HWYTIU</div>
                    <div>2</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-7 border-b py-10">
              <div class="text-2xl font-bold mb-6">
                Caractéristiques de la zone
              </div>
              <div class="grid grid-cols-3 gap-4 text-gray-400">
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Partager</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Self checked</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Rith lockbox</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Self checked with</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Sith Lockbox</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Partager</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Checked with lockbox</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="#F2F3F7" />
                      <path
                        d="M26.7996 14.1675C25.9162 13.2818 24.7453 12.7412 23.4982 12.6434C22.2511 12.5456 21.0102 12.897 19.9996 13.6341C18.9393 12.8455 17.6196 12.4879 16.3062 12.6333C14.9928 12.7788 13.7833 13.4164 12.9212 14.4179C12.0592 15.4194 11.6086 16.7104 11.6602 18.0308C11.7119 19.3512 12.2619 20.603 13.1996 21.5341L18.3746 26.7175C18.8079 27.1439 19.3916 27.383 19.9996 27.383C20.6076 27.383 21.1912 27.1439 21.6246 26.7175L26.7996 21.5341C27.7726 20.5552 28.3187 19.231 28.3187 17.8508C28.3187 16.4706 27.7726 15.1464 26.7996 14.1675ZM25.6246 20.3841L20.4496 25.5591C20.3907 25.6186 20.3206 25.6658 20.2434 25.698C20.1661 25.7302 20.0833 25.7468 19.9996 25.7468C19.9159 25.7468 19.833 25.7302 19.7558 25.698C19.6786 25.6658 19.6085 25.6186 19.5496 25.5591L14.3746 20.3591C13.721 19.6911 13.3551 18.7937 13.3551 17.8591C13.3551 16.9246 13.721 16.0272 14.3746 15.3591C15.0405 14.7016 15.9387 14.3329 16.8746 14.3329C17.8104 14.3329 18.7086 14.7016 19.3746 15.3591C19.452 15.4372 19.5442 15.4992 19.6458 15.5415C19.7473 15.5838 19.8562 15.6056 19.9662 15.6056C20.0763 15.6056 20.1852 15.5838 20.2867 15.5415C20.3883 15.4992 20.4804 15.4372 20.5579 15.3591C21.2239 14.7016 22.1221 14.3329 23.0579 14.3329C23.9938 14.3329 24.8919 14.7016 25.5579 15.3591C26.2204 16.0184 26.5984 16.9109 26.6109 17.8455C26.6233 18.7801 26.2693 19.6824 25.6246 20.3591V20.3841Z"
                        fill="#929393"
                      />
                    </svg>
                  </div>
                  <div>Partager</div>
                </div>
              </div>
            </div>
            <div class="my-7 border-b py-10">
              <div class="text-2xl font-bold mb-6">Aperçu Vidéo</div>
              <div class="w-full relative rounded-2xl overflow-hidden">
                <img src="/assets/images/21.png" class="w-full" />
                <div class="w-full h-full absolute top-0 left-0 flex items-center justify-center">
                  <svg
                    width="72"
                    height="72"
                    viewBox="0 0 72 72"
                    fill="none"
                    class="cursor-pointer"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="36"
                      cy="36"
                      r="36"
                      fill="white"
                      fill-opacity="0.2"
                    />
                    <circle
                      cx="36"
                      cy="36"
                      r="29"
                      fill="white"
                      fill-opacity="0.3"
                    />
                    <circle cx="35.5" cy="35.5" r="22.5" fill="white" />
                    <path d="M40.5 36L33 41.25V30.75L40.5 36Z" fill="black" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="my-7 py-10">
              <div class="text-2xl font-bold mb-6">Property Description</div>
              <div class="grid grid-cols-3 gap-4 text-gray-400">
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Partager</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Self checked</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Rith lockbox</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Self checked with</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Sith Lockbox</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Partager</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Checked with lockbox</div>
                </div>
                <div class="col-span-1 flex gap-2 items-center">
                  <div>
                    <svg
                      width="8"
                      height="8"
                      viewBox="0 0 8 8"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="8" height="8" rx="4" fill="#FFA200" />
                    </svg>
                  </div>
                  <div>Partager</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-1">
            <div class="border bg-[#F7F9FF] px-3 py-6 rounded-xl">
              <div class="text-sm font-bold mb-5">A propos de l'annonceur</div>
              <div class="flex gap-2 items-center">
                <div>
                  <img src="/assets/images/user.png" class="w-[73px] h-[73px]" />
                </div>
                <div>
                  <div class="font-bold mb-2">Arlene McCoy</div>
                  <div class="flex gap-1 items-center max-w-fit text-sm">
                    <span>
                      <svg
                        width="23"
                        height="23"
                        viewBox="0 0 23 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6.22102 2.15625C5.84511 2.15625 5.47424 2.29137 5.16518 2.53791L5.12061 2.56019L5.09833 2.58319L2.85224 4.89684L2.87452 4.91841C2.54463 5.21744 2.3109 5.60763 2.20291 6.03958C2.09492 6.47153 2.11754 6.92582 2.26789 7.34491C2.27077 7.35066 2.26502 7.36144 2.26789 7.36719C2.87739 9.11087 4.43564 12.4775 7.47883 15.5207C10.5335 18.5754 13.9447 20.0718 15.6323 20.7316H15.6546C16.0775 20.8714 16.5295 20.8994 16.9664 20.8127C17.4033 20.726 17.8104 20.5278 18.148 20.2371L20.4163 17.9687C21.0115 17.3736 21.0115 16.3401 20.4163 15.7449L17.4968 12.8254L17.4738 12.7801C16.8786 12.185 15.8235 12.185 15.2277 12.7801L13.7902 14.2176C12.7115 13.6991 11.7192 13.0174 10.8483 12.1965C9.67174 11.0731 9.07086 9.78147 8.84949 9.27619L10.287 7.83869C10.8907 7.23494 10.9015 6.23012 10.264 5.63787L10.2863 5.61487L10.2194 5.54803L7.34443 2.58319L7.32214 2.56091L7.27686 2.53791C6.97844 2.29453 6.60609 2.15993 6.22102 2.15625ZM6.22102 3.59375C6.27978 3.59716 6.33548 3.62107 6.37843 3.66131L9.25343 6.60316L9.32099 6.67072C9.31524 6.66497 9.36268 6.74116 9.27571 6.82812L7.47883 8.625L7.14174 8.93981L7.29986 9.38831C7.29986 9.38831 8.12499 11.5985 9.86005 13.2523L10.0175 13.3867C11.6871 14.9112 13.6558 15.7449 13.6558 15.7449L14.105 15.9476L16.239 13.8129C16.3626 13.69 16.3396 13.69 16.4632 13.8129L19.4058 16.7569C19.5294 16.8798 19.5294 16.8353 19.4058 16.9582L17.2042 19.1597C16.8736 19.4436 16.5221 19.5026 16.1045 19.3624C14.4759 18.722 11.3112 17.3319 8.48939 14.5108C5.6453 11.666 4.16036 8.44028 3.61627 6.87412C3.5063 6.58159 3.58464 6.14963 3.84052 5.93041L3.88508 5.88512L6.06433 3.66203C6.1068 3.62183 6.16195 3.59769 6.2203 3.59375H6.22102Z"
                          fill="#6D7280"
                        />
                      </svg>
                    </span>
                    <span>+228 93438751</span>
                  </div>
                </div>
              </div>
              <div class="text-sm">
                <a
                  href="tel:"
                  class="border border-black flex gap-1 items-center justify-center w-full rounded-full py-1 mt-4 mb-3"
                >
                  <span>Contacter l’agent</span>
                  <span>
                    <svg
                      width="37"
                      height="37"
                      viewBox="0 0 37 37"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M24.1236 18.9537L24.1236 12.0611M24.1236 12.0611L17.2061 12.0361M24.1236 12.0611L12.9232 23.2616"
                        stroke="#204B42"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </a>
                <a
                  href="/reservation-infos"
                  class="bg-[#FFA200] border border-[#FFA200] text-white flex gap-1 items-center justify-center w-full rounded-full py-1 "
                >
                  <span>Faire une réservation</span>
                  <span>
                    <svg
                      width="37"
                      height="37"
                      viewBox="0 0 37 37"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M24.1236 18.9537L24.1236 12.0611M24.1236 12.0611L17.2061 12.0361M24.1236 12.0611L12.9232 23.2616"
                        stroke="#fff"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
