<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="w-full overflow-x-hidden">
      <div class="grid grid-cols-2 gap-3 h-screen">
        <div class="col-span-1">
          <div class="flex items-center justify-center w-full h-full">
            <div
              class="p-10 max-w-lg text-gray-500 border rounded-3xl text-center text-sm"
            >
              <div class="mb-2">
                <div class="mb-2">
                  <p class="text-xl font-bold text-black">Inscription</p>
                </div>
                <div class="mb-2">
                  <p class="">
                    Already have an Account?
                    <a href="#" class="text-sky-400 ml-1">Connexion</a>
                  </p>
                </div>
              </div>
              <div class="my-5 w-full">
                <a
                  href="#"
                  class="flex gap-2 items-center justify-center w-full py-2 border rounded-xl text-gray-400"
                >
                  <span>
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_794_149)">
                        <path
                          d="M13.4166 7.14351C13.4166 6.72108 13.3784 6.32003 13.3128 5.92969H7.13928V8.34129H10.674C10.5156 9.13267 10.0512 9.80108 9.36285 10.2556V11.8598H11.4717C12.7064 10.7422 13.4166 9.09524 13.4166 7.14351Z"
                          fill="#4285F4"
                        />
                        <path
                          d="M7.13942 13.4148C8.90954 13.4148 10.3901 12.8373 11.4718 11.8588L9.36299 10.2546C8.77295 10.6396 8.02448 10.8749 7.13942 10.8749C5.4294 10.8749 3.98162 9.74661 3.46261 8.22266H1.28821V9.87495C2.36448 11.9711 4.57713 13.4148 7.13942 13.4148Z"
                          fill="#34A853"
                        />
                        <path
                          d="M3.46254 8.22241C3.32596 7.83741 3.25494 7.42568 3.25494 6.9979C3.25494 6.57012 3.33142 6.15839 3.46254 5.77339V4.12109H1.28814C0.840149 4.98734 0.583374 5.96054 0.583374 6.9979C0.583374 8.03526 0.840149 9.00845 1.28814 9.8747L3.46254 8.22241Z"
                          fill="#FBBC05"
                        />
                        <path
                          d="M7.13942 3.12196C8.10643 3.12196 8.96963 3.44814 9.65255 4.08446L11.521 2.25571C10.3901 1.21835 8.90954 0.582031 7.13942 0.582031C4.57713 0.582031 2.36448 2.02578 1.28821 4.12189L3.46261 5.77419C3.98162 4.25023 5.4294 3.12196 7.13942 3.12196Z"
                          fill="#EA4335"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_794_149">
                          <rect width="14" height="14" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                  <span>Continuer avec Google</span>
                </a>
              </div>
              <div class="my-3">
                <div class="flex flex-row items-center gap-1">
                  <div class="block h-[1px] bg-gray-300 w-full"></div>
                  <div class="text-xs">Ou</div>
                  <div class="block h-[1px] bg-gray-300 w-full"></div>
                </div>
              </div>
              <div class="mb-4">
                <form action="#" class="text-left">
                  <div class="mb-5">
                    <p class="mb-3 text-black">Email</p>
                    <input
                      type="email"
                      class="w-full px-3 py-3 border border-gray-100 rounded-lg"
                      placeholder="email@cigafi.com"
                    />
                  </div>
                  <div class="mb-5">
                    <p class="mb-3 text-black">Mot de passe</p>
                    <input
                      type="password"
                      class="w-full px-3 py-3 border border-gray-100 rounded-lg"
                      placeholder="Mot de passe"
                    />
                  </div>
                  <div class="mb-5">
                    <p class="mb-3 text-black">Confirmez le mot de passe</p>
                    <input
                      type="password"
                      class="w-full px-3 py-3 border border-gray-100 rounded-lg"
                      placeholder="Confirmez le mot de passe"
                    />
                  </div>
                  <div class="my-5">
                    <a
                      href="/user/reservations"
                      class="flex gap-2 items-center justify-center w-full py-4 border rounded-full bg-[#204B42] text-white"
                    >
                      <span>S'enrégistrer</span>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-span-1 m-3 bg-[url('/assets/images/35.png')] bg-cover bg-center overflow-hidden rounded-xl"
        >
          <div class="p-16 text-white">
            <div class="mb-8">
              <a href="/">
                <svg
                  width="126"
                  height="22"
                  viewBox="0 0 126 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_48_15)">
                    <path
                      d="M11.4545 22C17.7808 22 22.909 17.0753 22.909 11V3.3C22.909 2.42479 22.547 1.58542 21.9025 0.966548C21.2581 0.347678 20.384 0 19.4727 0L12.0272 0V4.8257C12.0272 5.9268 12.0971 7.0675 12.6984 8.0047C13.1289 8.67636 13.7049 9.25125 14.3871 9.69034C15.0694 10.1294 15.842 10.4225 16.6525 10.5496L16.8719 10.5837C16.9623 10.6133 17.0408 10.6694 17.0964 10.7441C17.152 10.8187 17.1819 10.9082 17.1819 11C17.1819 11.0918 17.152 11.1813 17.0964 11.2559C17.0408 11.3306 16.9623 11.3867 16.8719 11.4164L16.6525 11.4504C15.4682 11.6362 14.3746 12.1746 13.5261 12.9894C12.6776 13.8043 12.117 14.8545 11.9235 15.9918L11.888 16.2024C11.8571 16.2893 11.7987 16.3647 11.721 16.4181C11.6432 16.4714 11.55 16.5001 11.4545 16.5001C11.3589 16.5001 11.2657 16.4714 11.188 16.4181C11.1102 16.3647 11.0518 16.2893 11.0209 16.2024L10.9854 15.9918C10.853 15.2134 10.5479 14.4715 10.0906 13.8163C9.63341 13.1611 9.03479 12.6081 8.3354 12.1946C7.35947 11.6171 6.17164 11.55 5.02504 11.55H0.0136719C0.313208 17.3696 5.32056 22 11.4545 22Z"
                      fill="#fff"
                    />
                    <path
                      d="M0 10.45H5.02511C6.17171 10.45 7.35955 10.3829 8.33547 9.8054C9.09836 9.35401 9.74054 8.73731 10.2106 8.0047C10.8119 7.0675 10.8818 5.9268 10.8818 4.8257V0H3.43636C2.52498 0 1.65093 0.347678 1.00649 0.966548C0.362044 1.58542 0 2.42479 0 3.3L0 10.45ZM26.606 1.1C26.606 1.39174 26.4854 1.67153 26.2705 1.87782C26.0557 2.08411 25.7644 2.2 25.4606 2.2C25.1568 2.2 24.8654 2.08411 24.6506 1.87782C24.4358 1.67153 24.3151 1.39174 24.3151 1.1C24.3151 0.808262 24.4358 0.528473 24.6506 0.322183C24.8654 0.115893 25.1568 0 25.4606 0C25.7644 0 26.0557 0.115893 26.2705 0.322183C26.4854 0.528473 26.606 0.808262 26.606 1.1ZM121.253 6.6572C124.455 6.6572 126 8.80495 126 11.2926V15.9649H122.649V11.847C122.649 10.7195 122.221 9.7889 120.992 9.7889C119.764 9.7889 119.354 10.7195 119.354 11.847V15.9643H116.003V11.847C116.003 10.7195 115.594 9.7889 114.364 9.7889C113.136 9.7889 112.708 10.7195 112.708 11.847V15.9643H109.357V11.2921C109.357 8.8044 110.902 6.65665 114.104 6.65665C115.854 6.65665 117.12 7.31885 117.697 8.4106C118.311 7.31885 119.652 6.6561 121.253 6.6561V6.6572ZM103.335 13.101C104.415 13.101 104.881 12.1523 104.881 11.0242V7.0147H108.231V11.418C108.231 14.0492 106.63 16.2332 103.335 16.2332C100.04 16.2332 98.4392 14.0498 98.4392 11.418V7.0147H101.79V11.0242C101.79 12.1517 102.255 13.101 103.335 13.101ZM93.512 16.2509C91.4084 16.2509 90.0493 15.5529 89.2487 14.1928L91.669 12.886C92.0041 13.4585 92.5063 13.745 93.3442 13.745C94.0332 13.745 94.3494 13.5124 94.3494 13.2259C94.3494 12.1341 89.4348 13.244 89.4348 9.77185C89.4348 8.08885 90.9239 6.7287 93.4559 6.7287C95.6712 6.7287 96.8814 7.76655 97.4215 8.7692L95.0011 10.0936C94.7967 9.5568 94.1632 9.2345 93.5304 9.2345C93.0464 9.2345 92.7858 9.4314 92.7858 9.6998C92.7858 10.8097 97.7004 9.78945 97.7004 13.1544C97.7004 15.0337 95.7829 16.2509 93.512 16.2509ZM81.8044 20.0816H78.4533V11.4719C78.4533 8.7329 80.5942 6.7463 83.5729 6.7463C86.4772 6.7463 88.6925 8.87645 88.6925 11.4719C88.6925 14.3357 86.7189 16.2332 83.7591 16.2332C83.0701 16.2332 82.3817 16.0364 81.8044 15.7317V20.0816ZM83.5729 13.2083C84.6342 13.2083 85.3415 12.4206 85.3415 11.4895C85.3415 10.5413 84.6342 9.7713 83.5729 9.7713C82.5117 9.7713 81.8044 10.5413 81.8044 11.4901C81.8044 12.4207 82.5117 13.2083 83.5729 13.2083ZM75.0966 6.0665C73.9981 6.0665 73.0863 5.18925 73.0863 4.13325C73.0863 3.07725 73.9981 2.2 75.0966 2.2C76.1951 2.2 77.1074 3.07725 77.1074 4.13325C77.1074 5.18925 76.1951 6.0665 75.0966 6.0665ZM73.4213 7.0147H76.7724V15.9649H73.4213V7.0147ZM66.9919 16.2332C64.0876 16.2332 61.8723 14.0855 61.8723 11.4719C61.8723 8.87645 64.0876 6.7287 66.9919 6.7287C69.8962 6.7287 72.1115 8.87645 72.1115 11.4719C72.1115 14.0855 69.8962 16.2332 66.9919 16.2332ZM66.9919 13.2083C68.0532 13.2083 68.7605 12.4206 68.7605 11.4895C68.7605 10.5413 68.0532 9.7537 66.9919 9.7537C65.9306 9.7537 65.2233 10.5413 65.2233 11.4895C65.2233 12.4206 65.9306 13.2083 66.9919 13.2083ZM55.5448 20.35C53.2367 20.35 51.5609 19.3655 50.7047 17.611L53.4784 16.1793C53.7762 16.7882 54.3346 17.4146 55.4887 17.4146C56.6994 17.4146 57.4995 16.6804 57.5929 15.3918C57.1462 15.768 56.4383 16.0539 55.3776 16.0539C52.7894 16.0539 50.7041 14.1389 50.7041 11.4538C50.7041 8.85885 52.92 6.7463 55.8243 6.7463C58.8031 6.7463 60.9439 8.73345 60.9439 11.4719V15.0161C60.9439 18.238 58.6163 20.35 55.5448 20.35ZM55.7682 13.0295C56.7733 13.0295 57.5368 12.3667 57.5368 11.3822C57.5368 10.4159 56.7739 9.7713 55.7682 9.7713C54.7814 9.7713 53.9996 10.4159 53.9996 11.3828C53.9996 12.3673 54.7814 13.0289 55.7682 13.0289V13.0295ZM45.0204 16.2332C42.1161 16.2332 39.9002 14.0855 39.9002 11.4719C39.9002 8.87645 42.1161 6.7287 45.0204 6.7287C47.9241 6.7287 50.14 8.87645 50.14 11.4719C50.14 14.0855 47.9247 16.2332 45.0204 16.2332ZM45.0204 13.2083C46.0816 13.2083 46.789 12.4206 46.789 11.4895C46.789 10.5413 46.0816 9.7537 45.0204 9.7537C43.9591 9.7537 43.2518 10.5413 43.2518 11.4895C43.2518 12.4206 43.9591 13.2083 45.0204 13.2083ZM33.7984 3.883V12.9217H39.3464V15.9649H33.3327C31.2108 15.9649 30.3545 14.8907 30.3545 13.1901V3.883H33.7984Z"
                      fill="#fff"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_48_15">
                      <rect width="126" height="22" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
            <div class="mb-8">
              <p class="font-bold text-2xl">Secure Access Portal</p>
            </div>
            <div class="max-w-[50%]">
              <p class="">
                A robust authentication gateway ensuring secure efficient user
                access to the Metronic Dashboard interface.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
