<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="w-full overflow-x-hidden">
      <div class="bg-[#F8FAFC]">
        <%- include('./partials/main_nav_bar') %>
        <div class="px-10 pt-16 border-b">
          <div class="flex flex-row gap-16">
            <a
              href=""
              class="flex flex-row gap-3 items-center border-b-2 border-[#204B42] max-w-fit py-5"
            >
              <span
                class="border px-4 py-2 rounded-full bg-[#204B42] text-white"
                >1</span
              >
              <span class="font-bold text-[#204B42]"
                >Informations de réservation</span
              >
            </a>
            <a href="" class="flex flex-row gap-3 items-center max-w-fit py-5">
              <span class="border px-4 py-2 rounded-full text-gray-400">2</span>
              <span class="text-gray-400 font-semibold">Paiement</span>
            </a>
          </div>
        </div>
      </div>
      <div class="px-10">
        <div class="grid grid-cols-10 gap-24">
          <form class="col-span-6 py-24 grid grid-cols-3 gap-6">
            <div class="col-span-3">
              <p class="font-bold text-xl">Date de séjour</p>
            </div>
            <div class="col-span-2 col-start-2">
              <div class="mb-6">
                <p class="mb-3 text-black">Date d’arrivée</p>
                <input
                  type="date"
                  name=""
                  id=""
                  class="w-full text-gray-400 bg-gray-200 px-4 py-2 rounded-xl"
                  placeholder="JJ/MM/YYYY"
                />
              </div>
              <div class="mb-6">
                <p class="mb-3 text-black">Date de départ</p>
                <input
                  type="date"
                  name=""
                  id=""
                  class="w-full text-gray-400 bg-gray-200 px-4 py-2 rounded-xl"
                  placeholder="JJ/MM/YYYY"
                />
              </div>
            </div>
            <div class="col-span-3">
              <p class="font-bold text-xl">Coordonnées</p>
            </div>
            <div class="col-span-2 col-start-2">
              <div class="mb-6">
                <input
                  type="text"
                  name=""
                  id=""
                  class="w-full text-gray-400 bg-gray-200 px-4 py-2 rounded-xl"
                  placeholder="Nom et prénoms"
                />
              </div>
              <div class="mb-6">
                <input
                  type="phone"
                  name=""
                  id=""
                  class="w-full text-gray-400 bg-gray-200 px-4 py-2 rounded-xl"
                  placeholder="Téléphone"
                />
              </div>
              <div class="mb-6">
                <input
                  type="email"
                  name=""
                  id=""
                  class="w-full text-gray-400 bg-gray-200 px-4 py-2 rounded-xl"
                  placeholder="Email"
                />
              </div>
              <div class="mb-6">
                <input
                  type="address"
                  name=""
                  id=""
                  class="w-full text-gray-400 bg-gray-200 px-4 py-2 rounded-xl"
                  placeholder="Addresse"
                />
              </div>
              <div class="mb-6 flex justify-end">
                <a
                  href="/reservation-payment"
                  type="submit"
                  class="px-24 py-2 flex gap-3 items-center justify-center maw-w-fit bg-[#FFA200] hover:bg-opacity-75 cursor-pointer text-white rounded-full"
                >
                  <span>Suivant</span>
                  <span
                    ><svg
                      width="27"
                      height="26"
                      viewBox="0 0 27 26"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17.0998 17.6657L21.9736 12.7919M21.9736 12.7919L17.0998 7.88281M21.9736 12.7919L6.13382 12.7919"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </form>
          <div class="col-span-4">
            <div
              class="rounded-xl bg-[#204B42] text-white px-8 py-12 relative mt-[-12%]"
            >
              <p class="text-2xl mb-2">Villa meublé</p>
              <div class="my-3 grid grid-cols-5 gap-2">
                <img src="assets/images/28.png" alt="" class="col-span-2" />
                <img src="assets/images/29.png" alt="" class="col-span-2" />
                <img src="assets/images/30.png" alt="" class="col-span-1" />
              </div>
              <div class="my-5">
                <p class="text-xl mb-3">Détails</p>
                <p class="">
                  Crafting a virtual presence that stands out in the bustling
                  online space requires not only technical skill but a flair for
                  the unique feel each
                </p>
              </div>
              <div class="mt-5 mb-8 flex flex-wrap gap-3">
                <span class="py-2 px-4 rounded-full border border-white"
                  >App design & dev</span
                >
                <span class="py-2 px-4 rounded-full border border-white"
                  >Hosting & maintenance</span
                >
                <span class="py-2 px-4 rounded-full border border-white"
                  >UI & UX Design</span
                >
              </div>
              <div class="pt-6 border-t border-gray-300 text-gray-300">
                <div class="flex justify-between mb-5">
                  <span>Séjour</span>
                  <span>400000 FCFA</span>
                </div>
                <div class="flex justify-between mb-5">
                  <span>Frais d’agence</span>
                  <span>40000 FCFA</span>
                </div>
                <div class="flex justify-between font-bold text-white">
                  <span>Total</span>
                  <span>420.000 FCFA</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
