<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="w-full">
      <div class="">
        <%- include('./partials/main_nav_bar') %> 
      </div>
          

          <!-- <div id="imageSlider" class="fixed inset-0 bg-black/80 z-50 hidden"> 
                  
                  <div id="sliderCount" class="text-white text-md font-medium top-8 absolute left-12 top-8">
                    1 / 12
                  </div>

                  <button id="closeSlider" class="text-gray-200 text-4xl absolute right-12 ">
                    &times;
                  </button> 

                <button id="prevImage" class="z-50 absolute left-[3rem] top-1/2 -translate-y-1/2 text-white text-3xl inline-block cursor-pointer px-2 size-14 block  border-2 border-gray-300 rounded-full">
                &#10094;
                </button>

               <button id="nextImage" class="z-50  absolute right-[3rem] top-1/2 -translate-y-1/2  text-white text-3xl block cursor-pointer px-2 size-14 border-2 border-gray-300 rounded-full">
                &#10095;
              </button> 

              <img id="slider" src="./assets/images/32.png" alt="slider image"  class="mx-auto max-h-[80vh] object-contain transition-all duration-300 absolute -translate-y-1/2 translate-x-1/2  right-1/2 top-1/2" />


          </div> -->

      <%- include('./partials/footer') %>
    </div>

    <!-- <div class="kt-toast-container top-end">
    <div class="kt-toast kt-alert kt-alert-solid kt-alert-md kt-toast-top-end" role="status" aria-live="polite"
        aria-atomic="true" tabindex="0"
        style="pointer-events: auto; top: 15px; transition: top 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1); inset-inline-end: 15px;">

        <div class="kt-alert-icon ">
            <i class="ki-filled ki-information-4 text-destructive text-xl"></i>
        </div>

        <div class="kt-alert-title ">You have checked a row</div>
        <div class="kt-alert-toolbar ">
            <div class="kt-alert-actions ">
                <button data-kt-toast-dismiss="true" class="kt-alert-close">
                    <svg  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="kt-toast-progress " data-kt-toast-progress="true" style="animation-duration: 4000ms;"></div>
    </div>
     <div class="kt-toast kt-alert kt-alert-solid kt-alert-md kt-toast-top-end" role="status" aria-live="polite"
        aria-atomic="true" tabindex="0"
        style="pointer-events: auto; top: 15px; transition: top 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1); inset-inline-end: 15px;">

        <div class="kt-alert-icon ">
            <i class="ki-filled ki-information-4 text-destructive text-xl"></i>
        </div>

        <div class="kt-alert-title ">You have checked a row</div>
        <div class="kt-alert-toolbar ">
            <div class="kt-alert-actions ">
                <button data-kt-toast-dismiss="true" class="kt-alert-close">
                    <svg  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="kt-toast-progress " data-kt-toast-progress="true" style="animation-duration: 4000ms;"></div>
    </div>
</div> -->
 
  </body>
</html>
