<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="w-full overflow-x-hidden">
      <div class="pb-18">
        <%- include('./partials/main_nav_bar') %>
        <div class="px-10 mt-1">
          <div class="pt-32 py-12 grid grid-cols-2 gap-16 grid-rows-2">
            <div class="col-span-1 row-span-2">
              <div class="ruby leading-[120%] text-5xl font-bold">
                <span class="">
                  <li class="mr-16 text-base font-normal h-full">
                    Articles Récentes
                  </li>
                </span>
                <span>Plongez au cœur 
                  de l’immobilier grâce à nos ressources et conseils</span
                >
              </div>
            </div>
            <div
              class="col-span-1 row-span-1 col-start-2 row-start-2 text-gray-500"
            >
              <p class="mt-6">
                Trouvez toutes les ressources dont vous avez besoin pour vos projets, les dernières actualités et conseils pratqiues du monde immobilier sur sur CIGAFI.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="px-10 py-6">
        <div class="grid grid-cols-4 gap-x-6 gap-y-8 mb-32 mt-12">
          <div class="">
            <div class="relative rounded-lg overflow-hidden">
              <img
                src="assets/images/21.png"
                alt="images"
                class="h-[200px] w-full object-cover object-center"
              />
              <div
                class="px-6 py-2 absolute bottom-0 right-9 overflow-hidden bg-white rounded-t-xl text-center"
              >
                <p class="text-[#FFA200]">Sep</p>
                <p class="text-black text-2xl font-bold">28</p>
              </div>
            </div>
            <div class="mt-6 mb-2">
              <p class="text-sm text-[#204B42]">Ressources</p>
            </div>
            <div>
              <p class="font-medium">
                Crafting a virtual presence that stands out in the bustling
                online requires not only...
              </p>
            </div>
          </div>
          <div class="">
            <div class="relative rounded-lg overflow-hidden">
              <img
                src="assets/images/16.png"
                alt="images"
                class="h-[200px] w-full object-cover object-center"
              />
              <div
                class="px-6 py-2 absolute bottom-0 right-9 overflow-hidden bg-white rounded-t-xl text-center"
              >
                <p class="text-[#FFA200]">Sep</p>
                <p class="text-black text-2xl font-bold">28</p>
              </div>
            </div>
            <div class="mt-6 mb-2">
              <p class="text-sm text-[#204B42]">Ressources</p>
            </div>
            <div>
              <p class="font-medium">
                Crafting a virtual presence that stands out in the bustling
                online requires not only...
              </p>
            </div>
          </div>
          <div class="">
            <div class="relative rounded-lg overflow-hidden">
              <img
                src="assets/images/18.png"
                alt="images"
                class="h-[200px] w-full object-cover object-center"
              />
              <div
                class="px-6 py-2 absolute bottom-0 right-9 overflow-hidden bg-white rounded-t-xl text-center"
              >
                <p class="text-[#FFA200]">Sep</p>
                <p class="text-black text-2xl font-bold">28</p>
              </div>
            </div>
            <div class="mt-6 mb-2">
              <p class="text-sm text-[#204B42]">Ressources</p>
            </div>
            <div>
              <p class="font-medium">
                Crafting a virtual presence that stands out in the bustling
                online requires not only...
              </p>
            </div>
          </div>
          <div class="">
            <div class="relative rounded-lg overflow-hidden">
              <img
                src="assets/images/24.png"
                alt="images"
                class="h-[200px] w-full object-cover object-center"
              />
              <div
                class="px-6 py-2 absolute bottom-0 right-9 overflow-hidden bg-white rounded-t-xl text-center"
              >
                <p class="text-[#FFA200]">Sep</p>
                <p class="text-black text-2xl font-bold">28</p>
              </div>
            </div>
            <div class="mt-6 mb-2">
              <p class="text-sm text-[#204B42]">Ressources</p>
            </div>
            <div>
              <p class="font-medium">
                Crafting a virtual presence that stands out in the bustling
                online requires not only...
              </p>
            </div>
          </div>
          <div class="">
            <div class="relative rounded-lg overflow-hidden">
              <img
                src="assets/images/16.png"
                alt="images"
                class="h-[200px] w-full object-cover object-center"
              />
              <div
                class="px-6 py-2 absolute bottom-0 right-9 overflow-hidden bg-white rounded-t-xl text-center"
              >
                <p class="text-[#FFA200]">Sep</p>
                <p class="text-black text-2xl font-bold">28</p>
              </div>
            </div>
            <div class="mt-6 mb-2">
              <p class="text-sm text-[#204B42]">Ressources</p>
            </div>
            <div>
              <p class="font-medium leading-[120%]">
                Crafting a virtual presence that stands out in the bustling
                online requires not only...
              </p>
            </div>
          </div>
          <div class="">
            <div class="relative rounded-lg overflow-hidden">
              <img
                src="assets/images/assist.png"
                alt="images"
                class="h-[200px] w-full object-cover object-center"
              />
              <div
                class="px-6 py-2 absolute bottom-0 right-9 overflow-hidden bg-white rounded-t-xl text-center"
              >
                <p class="text-[#FFA200]">Sep</p>
                <p class="text-black text-2xl font-bold">28</p>
              </div>
            </div>
            <div class="mt-6 mb-2">
              <p class="text-sm text-[#204B42]">Ressources</p>
            </div>
            <div>
              <p class="font-medium">
                Crafting a virtual presence that stands out in the bustling
                online requires not only...
              </p>
            </div>
          </div>
          <div class="">
            <div class="relative rounded-lg overflow-hidden">
              <img
                src="assets/images/24.png"
                alt="images"
                class="h-[200px] w-full object-cover object-center"
              />
              <div
                class="px-6 py-2 absolute bottom-0 right-9 overflow-hidden bg-white rounded-t-xl text-center"
              >
                <p class="text-[#FFA200]">Sep</p>
                <p class="text-black text-2xl font-bold">28</p>
              </div>
            </div>
            <div class="mt-6 mb-2">
              <p class="text-sm text-[#204B42]">Ressources</p>
            </div>
            <div>
              <p class="font-medium">
                Crafting a virtual presence that stands out in the bustling
                online requires not only...
              </p>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
