<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="w-full overflow-x-hidden">
      <div class="pb-18">
        <%- include('./partials/main_nav_bar')%>
        <div class="px-10 pb-8 md:pb-16 mt-1">
          <img
            src="assets/images/23.png"
            alt="image"
            class="object-cover w-full h-full object-center rounded-xl"
          />
        </div>
      </div>

      <div class="px-10 py-6">
        <div class="grid grid-cols-6 gap-4">
          <div class="col-span-6  text-[#204B42] md:col-span-2">
            <li class="font-semibold">L’agence</li>
          </div>
          <div class="col-span-6 md:col-span-4">
            <p class="ruby text-3xl font-medium leading-[115%] md:text-4xl  lg:text-5xl ">
              <span class="inline-block md:min-w-[200px]"></span>
              <span  >  CIGAFI est plus qu'une simple agence immobilière. Nous sommes une équipe de passionnée, dédiée à vous offrir un service personnalisé et de qualité.
              </span>
            </p>
          </div>
        </div>
        
      </div>

      <div class="px-6 py-10 md:px-10 md:py-16">
        <div class="mb-8 text-[#204B42]">
            <li class="font-semibold">Nos services</li>
          </div>


           <div class="grid grid-cols-1 gap-8">
           <div class="grid grid-cols-1 gap-8 bg-[#F6E4D7] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-xl">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="max-w-[200px]">
                    Location de biens  Immobiliers
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-2xl lg:text-3xl ">
                 Un large choix de biens pour tous les besoins.
                </div>
                <p class="text-gray-500 mb-5">
                 Notre service de location vous propose une variété de biens immobiliers, qu’il s’agisse d’appartements, de maisons ou de locaux commerciaux. Nous vous accompagnons dans la recherche du bien idéal, tout en assurant un service complet de gestion locative, pour une expérience sans souci pour les propriétaires et les locataires.

                </p>
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Voir les annonces</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/services-baille.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

           <div class="grid grid-cols-1 gap-8 bg-[#D7E2F7] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-xl">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                  <div class="max-w-[300px]">
                    Vente , location et baille de terrain , ferme agricole
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-3xl lg:text-3xl ">
                 Maximisez la valeur de votre bien rurale.
                </div>
                <p class="text-gray-500 mb-5">
                 Confiez-nous la vente, la location ou la mise en bail de votre terrain agricole ou de votre ferme. Nous mettons tout en œuvre pour vous trouver l'acquéreur idéal et vous assurer une transaction sereine et profitable.
                </p>
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Voir les annonces de terrains agricole</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/terre-agricole.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

           <div class="grid grid-cols-1 gap-8 bg-[#EBE4F3] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-xl">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                     <div class="max-w-[200px]">
                    Gestion d’actif foncier 
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-3xl lg:text-3xl ">
                  Faites fructifier votre patrimoine foncier.
                </div>
                <p class="text-gray-500 mb-5">
                  Nous optimisons la gestion de votre patrimoine foncier en vous proposant des solutions sur mesure pour accroître la valeur de vos terrains. Nos experts vous conseillent sur les meilleures stratégies d’exploitation et de valorisation de vos actifs.
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Confiez-nous votre bien</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/gestion-actifs.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

           <div class="grid grid-cols-1 gap-8 bg-[#F7D9D9] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-lg">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                   <div class="max-w-[300px]">
                   Intermediation (conseil en achat des actions et bourse)
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-2xl lg:text-3xl ">
                 Conseils sur-mesure pour optimiser votre portefeuille d'actions.
                </div>
                <p class="text-gray-500 mb-5">
               Profitez de notre expertise en matière de marchés financiers pour vos investissements en actions. Nos conseillers vous guident dans le choix des actions à forte valeur ajoutée, tout en vous fournissant une analyse précise et des recommandations pour sécuriser et maximiser vos rendements.

                </p>
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Nous contacter</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/service-intermediation.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

           <div class="grid grid-cols-1 gap-8 bg-[#F7F7D6] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-lg">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                   <div class="max-w-[200px]">
                    Crédit à l’habitat
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-2xl lg:text-3xl ">
                 Des solutions de crédit sur-mesure pour votre habitat.
                </div>
                <p class="text-gray-500 mb-5">
                  Grâce à nos solutions de crédit à l'habitat, vous pouvez accéder à des financements pour acquérir ou rénover votre maison. Nous vous offrons des taux compétitifs et des plans de remboursement flexibles adaptés à votre situation financière.
                </p>
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Nous contacter</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/service-credit.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

           <div class="grid grid-cols-1 gap-8 bg-[#DCF4C9] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-xl">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                   <div class="max-w-[200px]">
                   Coopérative de l’habitat
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-3xl lg:text-4xl ">
                  Ensemble, achetons mieux !
                </div>
                <p class="text-gray-500 mb-5">
                 Rejoignez notre coopérative de l’habitat pour bénéficier d’avantages exclusifs dans l’acquisition et la gestion de biens immobiliers. En tant que membre, vous pouvez profiter de solutions d'achat groupé et d'accès facilité au crédit immobilier pour réaliser vos projets.


                </p>
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Nous contacter</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/cooperative.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

           <div class="grid grid-cols-1 gap-8 bg-[#E6E7E8] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-xl">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                   <div class="max-w-[200px]">
                  Conseil juridique et financier
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-3xl lg:text-4xl ">
                  Le conseil d'experts pour vos projets immobiliers.
                </div>
                <p class="text-gray-500 mb-5">
                 Nos experts juridiques et financiers vous accompagnent dans toutes vos démarches liées à l'immobilier, en vous proposant des solutions personnalisées pour la gestion de vos finances et la sécurisation de vos transactions immobilières. Nous garantissons une assistance complète, allant du conseil fiscal à la conformité réglementaire.
                </p>
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Nous contacter</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/conseils-juridiques.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

           <div class="grid grid-cols-1 gap-8 bg-[#E0F3F2] rounded-2xl p-6 lg:gap-0 lg:grid-cols-2">
          
            <div class="col-span-1 flex flex-col justify-between row-start-2 lg:row-start-1">
              <div class=" text-[#204B42] mb-4 lg:mb-0">
                <div class="flex items-center flex-start gap-4 font-semibold text-xl">
                  <div class="p-4 rounded-full bg-[#204B42]">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_664_244)">
                        <path
                          d="M21.9925 9.48145C21.9925 10.1494 21.4195 10.6727 20.7702 10.6727H19.548L19.5747 16.6176C19.5747 16.7178 19.5671 16.818 19.5556 16.9182V17.5193C19.5556 18.3395 18.872 19.0037 18.0279 19.0037H17.4168C17.3747 19.0037 17.3327 19.0037 17.2907 19C17.2372 19.0037 17.1838 19.0037 17.1303 19.0037L15.889 19H14.9723C14.1282 19 13.4445 18.3357 13.4445 17.5156V14.25C13.4445 13.5932 12.8984 13.0625 12.2223 13.0625H9.77787C9.10182 13.0625 8.55564 13.5932 8.55564 14.25V17.5156C8.55564 18.3357 7.87196 19 7.02786 19H4.8928C4.8355 19 4.77821 18.9963 4.72092 18.9926C4.67509 18.9963 4.62925 19 4.58342 19H3.97231C3.12821 19 2.44453 18.3357 2.44453 17.5156V13.3594C2.44453 13.326 2.44453 13.2889 2.44835 13.2555V10.6689H1.22613C0.538628 10.6689 0.00390625 10.1494 0.00390625 9.47773C0.00390625 9.14375 0.11849 8.84688 0.385851 8.58711L10.1751 0.296875C10.4424 0.0371094 10.748 0 11.0154 0C11.2827 0 11.5883 0.0742188 11.8174 0.259766L21.5723 8.59082C21.8779 8.85059 22.0306 9.14746 21.9925 9.48145Z"
                          fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_664_244">
                          <rect width="22" height="19" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                   <div class="max-w-[200px]">
                   Incubation d’entreprises
                  </div>
                </div>
              </div>
              <div>
                <div class="font-semibold mb-4 text-3xl lg:text-4xl ">
                 Incubez votre projet avec nous.
                </div>
                <p class="text-gray-500 mb-5">
                 Nous aidons les jeunes entreprises à se développer en leur offrant un environnement propice à la croissance. Nos services d’incubation incluent l’accompagnement stratégique, des conseils en gestion, ainsi que des ressources pour aider votre start-up à prospérer.


                </p>
                <a href="#" class="px-8 inline-block py-3 mt-3 text-gray-600 border-2 border-gray-600 rounded-full  whitespace-nowrap">Nous contater</a>
              </div>
            </div>

            <div class="col-span-1  flex justify-end">
              <div class=" lg:max-w-[80%] ">
                <img src="assets/images/incubation.png" alt="img" class="object-cover size-[150px] rounded-lg w-full  md:h-[250px]  lg:size-auto" />
              </div> 
            </div>

        </div>

      </div>
      </div>


      <div class="px-6 py-10 md:px-10 md:py-16">
        <div class="grid grid-cols-1 gap-8 lg:gap-24 lg:grid-cols-2">
          <div class="col-span-1">
            <p class="ruby text-3xl font-medium mb-8 lg:text-5xl">
              <span class="inline-block lg:min-w-[150px]"></span>
              <span>Vous avez une question ? Nous sommes là pour vous aider.</span>
            </p>
            <p class="text-gray-400 mb-9">
              Retrouvez ici les réponses aux interrogations les plus fréquentes pour mieux comprendre nos services et notre expertise."
            </p>
            <a
              href="#"
              class="px-8 py-3 mt-3 bg-[#204B42] text-white rounded-full"
              >Nous contacter</a
            >
          </div>
          <div class="col-span-1">
            <div
             class="w-full border-b-2 border-gray-200  flex flex-row py-4 my-2 justify-between items-stretch leading-[2] font-semibold text-gray-500 cursor-pointer"
            >
              <span>Quels types de biens propose CIGAFI ?</span>
              <span>
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none">
                  <path
                    d="M11.084 15.834L19.0007 23.7507L26.9173 15.834H11.084Z"
                    fill="#CBD6E2"
                  />
                </svg>
              </span>
            </div>
            <div
              class="w-full border-b-2 border-gray-200  flex flex-row py-4 my-2 justify-between items-stretch leading-[2] font-semibold text-gray-500 cursor-pointer"
            >
              <span>Quels services offrez-vous en dehors de la vente et de la location et de la vente?</span>
              <span>
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none">
                  <path
                    d="M11.084 15.834L19.0007 23.7507L26.9173 15.834H11.084Z"
                    fill="#CBD6E2"
                  />
                </svg>
              </span>
            </div>
            <div
              class="w-full border-b-2 border-gray-200  flex flex-row py-4 my-2 justify-between items-stretch font-semibold text-gray-500 cursor-pointer"
            >
              <span> Comment se déroule une collaboration avec votre agence ?
              </span>
              <span>
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none">
                  <path
                    d="M11.084 15.834L19.0007 23.7507L26.9173 15.834H11.084Z"
                    fill="#CBD6E2"
                  />
                </svg>
              </span>
            </div>
            <div
              class="w-full border-b-2 border-gray-200  flex flex-row py-4 my-2 justify-between items-stretch leading-[2] font-semibold text-gray-500 cursor-pointer"
            >
              <span>
                Comment se déroule une visite ?
              </span>
              <span>
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none">
                  <path
                    d="M11.084 15.834L19.0007 23.7507L26.9173 15.834H11.084Z"
                    fill="#CBD6E2"
                  />
                </svg>
              </span>
            </div>
            <div
              class="w-full border-b-2 border-gray-200  flex flex-row py-4 my-2 justify-between items-stretch leading-[2] font-semibold text-gray-500 cursor-pointer"
            >
              <span>Quels sont les délais de traitement d'un dossier de location ?</span>
              <span>
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none">
                  <path
                    d="M11.084 15.834L19.0007 23.7507L26.9173 15.834H11.084Z"
                    fill="#CBD6E2"
                  />
                </svg>
              </span>
            </div>
          
          </div>
        </div>
      </div>
      <div class="px-6 py-10  bg-[#F2F3F7]  md:px-10 md:py-16">
        <div class="grid grid-cols-6 mb-10 gap-4 lg:mb-28 lg:gap-8">
          <div class="col-span-6 text-[#204B42] lg:col-span-2 ">
            <li class="font-semibold">Ce que pensent les clients</li>
          </div>
          <div class="col-span-6 lg:col-span-4">
            <p class="ruby text-3xl font-medium leading-[115%] lg:text-5xl">
              <span class="inline-block lg:min-w-[300px]"></span>
              <span
                >Ce que nos clients disent de leur expérience avec CIGAFI et la qualité de nos services</span
              >
            </p>
          </div>
        </div>
        <div class="grid mt-18 grid-cols-1  gap-6 mb-6 md:grid-cols-2 lg:grid-cols-3">
          <div class="col-span-1 bg-white rounded-2xl p-12">
            <div class="mb-3">
              <svg
                width="56"
                height="56"
                viewBox="0 0 56 56"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M34.5033 26.2487C34.6993 24.4427 35.222 23.0007 36.132 21.722C37.3523 20.0164 39.3987 18.4227 42.782 16.7287C42.999 16.6333 43.1944 16.4947 43.3563 16.3215C43.5182 16.1483 43.6432 15.944 43.7237 15.721C43.8042 15.4979 43.8386 15.2609 43.8247 15.0242C43.8108 14.7875 43.749 14.5561 43.643 14.344C43.5369 14.132 43.3889 13.9437 43.2079 13.7906C43.0269 13.6374 42.8166 13.5227 42.5899 13.4533C42.3632 13.3839 42.1247 13.3613 41.889 13.3869C41.6533 13.4124 41.4252 13.4856 41.2187 13.602C37.602 15.408 34.9817 17.3144 33.2853 19.692C31.5563 22.1094 30.917 24.8324 30.917 27.9987V38.4987C30.917 39.5817 31.3472 40.6203 32.113 41.3861C32.8787 42.1518 33.9174 42.582 35.0003 42.582H44.3337C45.4166 42.582 46.4552 42.1518 47.221 41.3861C47.9868 40.6203 48.417 39.5817 48.417 38.4987V30.332C48.417 28.078 46.5877 26.2487 44.3337 26.2487H34.5033ZM11.17 26.2487C11.366 24.4427 11.8887 23.0007 12.7987 21.722C14.019 20.0164 16.0653 18.4227 19.4487 16.7287C19.6657 16.6333 19.8611 16.4947 20.023 16.3215C20.1849 16.1483 20.3099 15.944 20.3904 15.721C20.4709 15.4979 20.5053 15.2609 20.4914 15.0242C20.4775 14.7875 20.4157 14.5561 20.3096 14.344C20.2036 14.132 20.0556 13.9437 19.8745 13.7906C19.6935 13.6374 19.4833 13.5227 19.2566 13.4533C19.0298 13.3839 18.7914 13.3613 18.5557 13.3869C18.32 13.4124 18.0919 13.4856 17.8853 13.602C14.2687 15.408 11.6483 17.3144 9.95199 19.692C8.22299 22.1094 7.58366 24.8324 7.58366 27.9987V38.4987C7.58366 39.5817 8.01387 40.6203 8.77964 41.3861C9.54541 42.1518 10.584 42.582 11.667 42.582H21.0003C22.0833 42.582 23.1219 42.1518 23.8877 41.3861C24.6535 40.6203 25.0837 39.5817 25.0837 38.4987V30.332C25.0837 28.078 23.2543 26.2487 21.0003 26.2487H11.17Z"
                  fill="#FFA200"
                />
              </svg>
            </div>
            <p class="mb-8">
              “J'ai confié la vente de mon appartement à CIGAFI et je n'ai pas été déçu. L'estimation était très réaliste et la vente s'est conclue rapidement. Je recommande vivement cette agence.”
            </p>
            <div class="flex flex-row items-center gap-4">
              <div>
                <img src="assets/images/pr.png" alt="profile" class="w-[60px]" />
              </div>
              <div>
                <div class="mb-2 text-xl font-medium">Arlene McCoy</div>
                <div class="mb-2 text-gray-500">Client CIGAFI</div>
              </div>
            </div>
          </div>
          <div class="col-span-1 bg-white rounded-2xl p-12">
            <div class="mb-3">
              <svg
                width="56"
                height="56"
                viewBox="0 0 56 56"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M34.5033 26.2487C34.6993 24.4427 35.222 23.0007 36.132 21.722C37.3523 20.0164 39.3987 18.4227 42.782 16.7287C42.999 16.6333 43.1944 16.4947 43.3563 16.3215C43.5182 16.1483 43.6432 15.944 43.7237 15.721C43.8042 15.4979 43.8386 15.2609 43.8247 15.0242C43.8108 14.7875 43.749 14.5561 43.643 14.344C43.5369 14.132 43.3889 13.9437 43.2079 13.7906C43.0269 13.6374 42.8166 13.5227 42.5899 13.4533C42.3632 13.3839 42.1247 13.3613 41.889 13.3869C41.6533 13.4124 41.4252 13.4856 41.2187 13.602C37.602 15.408 34.9817 17.3144 33.2853 19.692C31.5563 22.1094 30.917 24.8324 30.917 27.9987V38.4987C30.917 39.5817 31.3472 40.6203 32.113 41.3861C32.8787 42.1518 33.9174 42.582 35.0003 42.582H44.3337C45.4166 42.582 46.4552 42.1518 47.221 41.3861C47.9868 40.6203 48.417 39.5817 48.417 38.4987V30.332C48.417 28.078 46.5877 26.2487 44.3337 26.2487H34.5033ZM11.17 26.2487C11.366 24.4427 11.8887 23.0007 12.7987 21.722C14.019 20.0164 16.0653 18.4227 19.4487 16.7287C19.6657 16.6333 19.8611 16.4947 20.023 16.3215C20.1849 16.1483 20.3099 15.944 20.3904 15.721C20.4709 15.4979 20.5053 15.2609 20.4914 15.0242C20.4775 14.7875 20.4157 14.5561 20.3096 14.344C20.2036 14.132 20.0556 13.9437 19.8745 13.7906C19.6935 13.6374 19.4833 13.5227 19.2566 13.4533C19.0298 13.3839 18.7914 13.3613 18.5557 13.3869C18.32 13.4124 18.0919 13.4856 17.8853 13.602C14.2687 15.408 11.6483 17.3144 9.95199 19.692C8.22299 22.1094 7.58366 24.8324 7.58366 27.9987V38.4987C7.58366 39.5817 8.01387 40.6203 8.77964 41.3861C9.54541 42.1518 10.584 42.582 11.667 42.582H21.0003C22.0833 42.582 23.1219 42.1518 23.8877 41.3861C24.6535 40.6203 25.0837 39.5817 25.0837 38.4987V30.332C25.0837 28.078 23.2543 26.2487 21.0003 26.2487H11.17Z"
                  fill="#FFA200"
                />
              </svg>
            </div>
            <p class="mb-8">
              “Je suis investisseur immobilier et j'ai fait appel à CIGAFI pour gérer mon patrimoine. Leur équipe est efficace et réactive. Grâce à eux, je suis serein et je peux me concentrer sur d'autres projets.”
            </p>
            <div class="flex flex-row items-center gap-4">
              <div>
                <img src="assets/images/pr.png" alt="profile" class="w-[60px]" />
              </div>
              <div>
                <div class="mb-2 text-xl font-medium">Arlene McCoy</div>
                <div class="mb-2 text-gray-500">Client CIGAFI</div>
              </div>
            </div>
          </div>
          <div class="col-span-1 bg-white rounded-2xl p-12">
            <div class="mb-3">
              <svg
                width="56"
                height="56"
                viewBox="0 0 56 56"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M34.5033 26.2487C34.6993 24.4427 35.222 23.0007 36.132 21.722C37.3523 20.0164 39.3987 18.4227 42.782 16.7287C42.999 16.6333 43.1944 16.4947 43.3563 16.3215C43.5182 16.1483 43.6432 15.944 43.7237 15.721C43.8042 15.4979 43.8386 15.2609 43.8247 15.0242C43.8108 14.7875 43.749 14.5561 43.643 14.344C43.5369 14.132 43.3889 13.9437 43.2079 13.7906C43.0269 13.6374 42.8166 13.5227 42.5899 13.4533C42.3632 13.3839 42.1247 13.3613 41.889 13.3869C41.6533 13.4124 41.4252 13.4856 41.2187 13.602C37.602 15.408 34.9817 17.3144 33.2853 19.692C31.5563 22.1094 30.917 24.8324 30.917 27.9987V38.4987C30.917 39.5817 31.3472 40.6203 32.113 41.3861C32.8787 42.1518 33.9174 42.582 35.0003 42.582H44.3337C45.4166 42.582 46.4552 42.1518 47.221 41.3861C47.9868 40.6203 48.417 39.5817 48.417 38.4987V30.332C48.417 28.078 46.5877 26.2487 44.3337 26.2487H34.5033ZM11.17 26.2487C11.366 24.4427 11.8887 23.0007 12.7987 21.722C14.019 20.0164 16.0653 18.4227 19.4487 16.7287C19.6657 16.6333 19.8611 16.4947 20.023 16.3215C20.1849 16.1483 20.3099 15.944 20.3904 15.721C20.4709 15.4979 20.5053 15.2609 20.4914 15.0242C20.4775 14.7875 20.4157 14.5561 20.3096 14.344C20.2036 14.132 20.0556 13.9437 19.8745 13.7906C19.6935 13.6374 19.4833 13.5227 19.2566 13.4533C19.0298 13.3839 18.7914 13.3613 18.5557 13.3869C18.32 13.4124 18.0919 13.4856 17.8853 13.602C14.2687 15.408 11.6483 17.3144 9.95199 19.692C8.22299 22.1094 7.58366 24.8324 7.58366 27.9987V38.4987C7.58366 39.5817 8.01387 40.6203 8.77964 41.3861C9.54541 42.1518 10.584 42.582 11.667 42.582H21.0003C22.0833 42.582 23.1219 42.1518 23.8877 41.3861C24.6535 40.6203 25.0837 39.5817 25.0837 38.4987V30.332C25.0837 28.078 23.2543 26.2487 21.0003 26.2487H11.17Z"
                  fill="#FFA200"
                />
              </svg>
            </div>
            <p class="mb-8">
              “Du premier contact jusqu'à la signature, tout a été parfait. Leur transparence et leur connaissance du marché m'ont mise en confiance immédiatement.”
            </p>
            <div class="flex flex-row items-center gap-4">
              <div>
                <img src="assets/images/pr.png" alt="profile" class="w-[60px]" />
              </div>
              <div>
                <div class="mb-2 text-xl font-medium">Arlene McCoy</div>
                <div class="mb-2 text-gray-500">Client CIGAFI</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-6 py-6  bg-[url('/assets/images/25.png')] bg-cover bg-center lg:h-screen  md:px-10">
        <div class="pt-12 pb-6 flex flex-col justify-between items-center text-white lg:h-full">
          <div class="max-w-[700px] text-center mb-32 lg:mb-0">
            <div class="font-semibold text-4xl lg:text-6xl lg:font-medium">
              Besoin d’assistance pour trouver un bien?
            </div>
            <div class="mt-5">
              Nous sommes toujours à votre ecoute n’hésitez pas à nous contacter
            </div>
            <a href="tel:"  class="flex gap-3 px-6 py-3 mt-8 rounded-full bg-primary-orange mx-[auto] items-center max-w-fit">
              <span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z"
                    fill="white"
                  />
                </svg>
              </span>
              <span>+228 90991070</span>
            </a>
          </div> <div class="marquee flex gap-16 flex-nowrap font-semibold items-center leading-normal text-6xl  w-fit md:text-8xl">
            
            <span>contact@cigafi.com</span>
           
            <span>
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-full"
              >
                <circle
                  cx="20"
                  cy="20"
                  r="17"
                  stroke="white"
                  stroke-width="6"
                />
              </svg>
            </span>
           
            <span>contact@cigafi.com</span>
          
            <span>
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="20"
                  cy="20"
                  r="17"
                  stroke="white"
                  stroke-width="6"
                />
              </svg>
            </span>
           
            <span>contact@cigafi.com</span>
            
          </div>
        </div>
      </div>
      <%- include('./partials/footer') %>
    </div>
  </body>
</html>
