<div class="container-fixed mb-10">
  <div class="container-fixed flex items-center justify-between flex-wrap gap-3">
       
  <div class="flex items-center flex-wrap">
    <h1 class="font-medium text-lg text-gray-900">
    </h1>
    <div class="flex items-center gap-1 text-sm font-normal">
      <div class="flex flex-col gap-1">
        <h1 class="font-medium text-lg text-gray-900">
         Dashboard
        </h1>
        <div class="flex items-center gap-1 text-2sm">
         <a class="text-gray-700 hover:text-primary" href="/metronic/tailwind/demo7/">
          Home
         </a>
         <span class="text-gray-400 text-sm">
          /
         </span>
         <span class="text-gray-700">
          Account
         
         </span>
         <span class="text-gray-400 text-sm">
          /
         </span>
         <span class="text-gray-900">
          Dashboard
         </span>
        </div>
       </div>
    </div>
   </div>
 <div class="flex items-center flex-wrap">
  <div class="flex items-center justify-between py-1.5 gap-1.5">
      <div class="flex items-center gap-2">
          <div class="flex flex-col gap-1.5 text-end">
              <span class="text-sm text-gray-800 font-semibold leading-none">
                <%= user.firstName %> <%= user.lastName %>
              </span>
              <span class="text-xs text-gray-600 font-medium leading-none">
                <%= user.email %> 
              </span>
             </div>
       <img alt="" class="size-9 rounded-full border-2 border-success" src="assets/media/avatars/300-2.png">
       
       
      </div>
     
     </div>
 </div>
</div>
</div>